.dtc-11-main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    gap: 140px;
}

.dtc-11-left-container {
    width: 780px;
}

.dtc-11-trending-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.dtc-11-trending-box {
    width: 780px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 80px;
    text-decoration:none;
}

.dtc-11-trending-card {
    width: 350px;
    min-width: 350px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.dtc-11-image {
    width: 144px;
    height: 100px;
}
    .dtc-11-image img {
        width: 144px;
        height: 100px;
    }
    .dtc-11-trend-story h5 {
        width: 176px;
        color: #020202;
        font-family: Inter;
        font-size: 17.348px;
        font-style: normal;
        font-weight: 500;
        line-height: 24.577px;
    }

.dtc-11-trend-story p {
    width: 176px;
    color: #020202;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.dtc-11-card-title {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;
    text-transform: uppercase;
}


.dtc-11-latest-post-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-top: 50px;
}

.dtc-11-latest-post-box {
    width: 50%;
    min-width: 50%;
    align-items: flex-start;
    overflow: hidden;
    gap: 50px;
}
.dtc-11-latest-post-box-container{
    width: 780px;
    display: flex;
    flex-wrap: wrap;
}

.dtc-11-frame44 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-decoration: none;
}

.dtc-11-frame46 img {
    width: 360px;
    height: 240px;
}


.dtc-11-frame45 {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.dtc-11-frame55 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.dtc-11-frame43 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dtc-11-frame74 {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #F2F4F7;
}

    .dtc-11-frame74 h6 {
        color: #5C6881;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 1px;
    }

.dtc-11-courses {
    color: #667085;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.5px;
}

.dtc-11-post-title {
    align-self: stretch;
    color: #101828;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.dtc-11-post-details {
    align-self: stretch;
    color: #475467;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.15px;
}

.dtc-11-group1170 {
    height: 30px;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dtc-11-ellipse-1 {
    width: 30.75px;
    height: 30px;
    flex-shrink: 0;
}

.dtc-11-group1170 h5 {
    color: #101828;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px; 
    letter-spacing: 0.3px;
}

.dtc-11-group1170 h6 {
    color: #475467;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.5px;
}

.dtc-11-right-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 390px;
}

    .dtc-11-right-container h3 {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.15px;
        text-transform: uppercase;
    }

.dtc-11-Frame343 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 360px;
}

.dtc-11-frame342 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.dtc-11-frame341 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

    .dtc-11-frame341 img {
        height: 123px;
        align-self: stretch;
    }

    .dtc-11-frame341 h5 {
        width: 360px;
        color: var(--Main-Text, #101828);
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }

    .dtc-11-frame341 p {
        width: 360px;
        color: var(--Grey-600, #475467);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        letter-spacing: 0.15px;
    }

.dtc-11-group1175 {
    width: 360px;
    height: 0px;
    margin-top: -25px;
}

    .dtc-11-group1175 .line3 {
        width: 360px;
        height: 5px;
        background: #D0D5DD;
    }

    .dtc-11-group1175 .line4 {
        margin-top: -21px;
        position: absolute;
        width: 274.39px;
        height: 5px;
        background: #34A853;
        opacity: 3;
    }

.continue-btn {
    margin-top: 25px;
    border: none;
    display: flex;
    width: 360px;
    height: 44px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background-color: #34A853;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
}

.dtc-11-author {
    display: flex;
    width: 376px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

    .dtc-11-author h4 {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        letter-spacing: 0.15px;
        text-transform: uppercase;
    }

.dtc-11-eachauthor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    align-self: stretch;
}

    .dtc-11-eachauthor img {
        width: 36px;
        height: 35.122px;
        border-radius: 36px;
    }

.dtc-11-Frame56 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.dtc-11-name_articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.dtc-11-frame55 {
    display: flex;
    align-items: center;
    gap: 16px;
}

    .dtc-11-frame55 h2 {
        color: var(--Main-Text, #101828);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0.3px;
    }

.dtc-11-eachauthor hr {
    width: 376px;
    height: 0.5px;
    background: #D0D5DD;
}

.dtc-11-Frame56 p {
    color: var(--Grey-600, #475467);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; 
    letter-spacing: 0.5px;
    opacity: 0.5;
}


.dtc-11-interesting {
    display: flex;
    width: 373px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

    .dtc-11-interesting h4 {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.15px;
        text-transform: uppercase;
    }

.dtc-11-topics {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.dtc-11-frame73 {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 50px;
    background: var(--Grey-100, #F2F4F7);
}

    .dtc-11-frame73 h4 {
        color: var(--Grey-500, #5C6881);
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

.dtc-11-Frame90 {
    display: flex;
    width: 371px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

    .dtc-11-Frame90 h4 {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.15px;
        text-transform: uppercase;
    }

.dtc-11-Frame87 {
    display: flex;
    width: 371px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
}

.dtc-11-Frame86 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

    .dtc-11-Frame86 h2 {
        width: 328px;
        color: var(--Main-Text, #101828);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }

    .dtc-11-Frame86 p {
        width: 328px;
        color: var(--Grey-400, #98A2B3);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }



/***Header Styling**/
.dtc-11-component {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    gap: 546px;
    align-items: center;
    width: 100vw;
    justify-content: flex-start;
    width: 1518px;
    height: 94px;
    box-shadow: 0px 2px 4px 0px rgba(33, 33, 33, 0.06), 0px 4px 8px 0px rgba(33, 33, 33, 0.08);
    position: sticky;
}

.dtc-11-frame-253 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.dtc-11-frame-251 {
    display: flex;
    flex-direction: row;
    gap: 64px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.dtc-11-frame-249 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.dtc-11-frame-182 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.dtc-11-blogger {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.dtc-11-devs-tutorial-center {
    color: #000000;
    text-align: left;
    font: var(--headline-bold-24, 700 24px/140% "Inter", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dtc-11-frame-180 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 64px;
    position: relative;
}

.dtc-11-icon-home {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.book {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.dtc-11-publish {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.dtc-11-frame-250 {
    background: var(--white, #ffffff);
    border-style: solid;
    border-color: var(--grey-300, #d0d5dd);
    border-width: 1px;
    padding: 8px 24px 8px 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 399px;
    position: relative;
}

    .dtc-11-frame-250 input {
        width: 100%;
        border: none;
        outline: none;
    }

.dtc-11-search {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.dtc-11-text {
    color: var(--grey-500, #667085);
    text-align: left;
    font: var(--button-normal-14, 400 14px/20px "Inter", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dtc-11-right-nest {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.dtc-11-header-cta-block {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.dtc-11-avatar-default {
    border-radius: 200px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
}

.dtc-11-notification {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.dtc-11-button-default {
    background: var(--grey-100, #f2f4f7);
    border-radius: 6px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    margin-top: -1px;
    border-style: none;
}

.dtc-11-text2 {
    color: var(--main-text, #101828);
    text-align: left;
    font: var(--button-normal-14, 400 14px/20px "Inter", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
   
}
