.frame-223,
.frame-223 * {
    box-sizing: border-box;
}

.frame-223 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.frame-222 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-221 {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-220 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.avatar-default {
    border-radius: 200px;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
}

.john-doe {
    color: #000000;
    text-align: left;
    font: var(--button-normal-14, 400 14px/20px "Inter", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.june-15-2022 {
    color: #000000;
    text-align: left;
    font: var(--button-normal-14, 400 14px/20px "Inter", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.there-is-no-universally-accepted-definition-of-a-mountain-elevation-volume-relief-steepness-spacing-and-continuity-have-been-used-as-criteria-for-defining-a-mountain {
    color: #000000;
    text-align: left;
    font: var(--button-normal-14, 400 14px/20px "Inter", sans-serif);
    position: relative;
    width: 673px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.button-default {
    background: var(--grey-50, #f9fafb);
    border-radius: 6px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 80px;
    position: relative;
    overflow: hidden;
}

.text {
    color: var(--main-primarycolor, #34a853);
    text-align: left;
    font: var(--button-semi-bold-14, 600 14px/20px "Inter", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
