.dtc-11-frame73 {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 50px;
    background: var(--Grey-100, #F2F4F7);
}
