<link rel="stylesheet" href="~/css/blog_post_item_partial.css" asp-append-version="true"/>

<div class="card-1">
    <img class="img-frame" src="~/images/Frame 46.png"/>

    <div class="story-desc-div">
        <div class="frame-55">
            <div class="frame-43">
                <div class="frame-74">
                    <div class="_125-courses">JAVA</div>
                </div>
                <div class="line-2"></div>
                <div class="_125-courses2">5 mins read</div>
            </div>
        </div>
        <div class="graphic-design">
            Exploring the Evolution of Java: From Past to Present
        </div>
        <div class="graphic">
            Dorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero
            et velit interdum, ac aliquet odio mattis.
        </div>
        <hr class="line"/>
        <div class="group1170">
            <div class="dtc-8-author-profile">
                <img src="~/images/Ellipse 1.png"/>
                <h5>Ayomide Akin</h5>
            </div>
            <h4>2 days ago</h4>
        </div>
    </div>
</div>