<div class="container" style=" flex-direction: column; justify-content: flex-start; align-items: flex-start;  display: inline-flex">
    <div style="width: 26%;  background: white; justify-content: space-between; align-items: center; display: inline-flex">
        <div style="  flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="align-self: stretch; color: #101828; font-size: 20px; font-family: Inter-Medium, Helvetica; font-weight: 500; line-height: 28px; word-wrap: break-word">@Model.Title</div>
            <p style="width: 80%; color: #98A2B3; font-size: 14px; font-family: Inter-Regular, Helvetica; font-weight: 400; line-height: 20px; word-wrap: break-word">@Model.Text.</p>
        </div>

        <a href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="17" viewBox="0 0 21 17" fill="none">
                <path d="M1.47168 8.65556L18.3488 8.65556" stroke="#121212" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12.4417 0.923862L19.9999 8.36572L12.4417 15.8076" stroke="#121212" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
    </div>
    <div style="width: 26% ; height: 0px; border: 0.50px #D0D5DD solid"></div>

</div>