<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DevsTutorialCenterMVC</title><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
</head>

<body class="font-sans antialiased">
<div>
    <main>
        @RenderBody()
    </main>
</div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DevsTutorialCenterMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>