

<div class="options-view-ify shadow-sm">
    <div class="d-flex flex-column" style="width: 160px;">
        <div class="px-3 py-2 option-ify">Delete</div>
        <div class="px-3 py-2 option-ify">Mark as Read</div>
    </div>
</div>