<div class="story-nav">

    <div class="story-logo-search">
        <div class="story-logo-box">
            <img src="~/images/storyPageImg/MicrosoftTeams-image (6).png" alt="Logo">
            <h3> Devs Tutorial Center </h3>
        </div>
        <div class="story-nav-icons">
            <img src="~/images/storyPageImg/home.png" alt="1">
            <img src="~/images/storyPageImg/MicrosoftTeams-image (5).png" alt="2">
            <img src="~/images/storyPageImg/MicrosoftTeams-image (7).png" alt="3">
        </div>
        <div class="story-search-box">
            <label for="search">
                <img src="~/images/storyPageImg/MicrosoftTeams-image (4).png" alt="Magnifier" class="story-search-icon">
                <input type="search" id="search" placeholder="Search">
            </label>
        </div>
    </div>
    <div class="story-user-info">
        <span><img src="~/images/storyPageImg/Default.png" alt="Profile image"></span>
        <img src="~/images/storyPageImg/MicrosoftTeams-image (3).png" alt="Notification">
        <button type="button">Write an Article</button>
    </div>
</div>