<div class="comments">Comments</div>
<div class="frame-223">
    <div class="frame-222">
        <div class="frame-221">
            <div class="frame-220">
                <img class="avatar-default" src="avatar-default.png" />
                <div class="john-doe">John Doe</div>
            </div>
            <div class="june-15-2022">June 15, 2022</div>
        </div>
        <div class="there-is-no-universally-accepted-definition-of-a-mountain-elevation-volume-relief-steepness-spacing-and-continuity-have-been-used-as-criteria-for-defining-a-mountain">
            There is no universally accepted definition of a mountain. Elevation,
            volume, relief, steepness, spacing and continuity have been used as
            criteria for defining a mountain.
        </div>
    </div>
    <div class="button-default">
        <div class="text">Reply</div>
    </div>
</div>
