<section style="background-color: #eee;">
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="comments">Comments</div>
                    <hr />
                    <div class="card-body">
                        <div class="d-flex flex-start align-items-center">
                            <img class="rounded-circle shadow-1-strong me-3"
                                 src="~/images/Default.png" alt="avatar" width="60"
                                 height="60" />
                            <div>
                                <h6 class="fw-bold text-primary mb-1">John Doe</h6>
                                <p class="text-muted small mb-0">
                                    Shared publicly - Jan 2020
                                </p>
                            </div>
                        </div>

                        <p class="mt-3 mb-4 pb-2">
                            there-is-no-universally-accepted-definition-of-a-mountain-elevation-volume-relief-steepness-spacing-and-continuity-have-been-used-as-criteria-for-defining-a-mountain">
                            there is no universally accepted definition of a mountain. elevation,
                            volume, relief, steepness, spacing and continuity have been used as
                            criteria for defining a mountain.
                        </p>

                        <div class="small d-flex justify-content-start">
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="far fa-thumbs-up me-2"></i>
                                <p class="mb-0">Like</p>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="far fa-comment-dots me-2"></i>
                                <p class="mb-0">Reply</p>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                                <i class="fas fa-share me-2"></i>
                                <p class="mb-0">Share</p>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>


@* <div class="comments">Comments</div>
<hr />

<div class="frame-223">
    <div class="frame-222">
        <div class="frame-221">
            <div class="frame-220">
                <img class="avatar-default" src="~/images/Default.png" />
                <div class="john-doe">john doe</div>
            </div>
            <div class="june-15-2022">june 15, 2022</div>
        </div>
        <div class="there-is-no-universally-accepted-definition-of-a-mountain-elevation-volume-relief-steepness-spacing-and-continuity-have-been-used-as-criteria-for-defining-a-mountain">
            there is no universally accepted definition of a mountain. elevation,
            volume, relief, steepness, spacing and continuity have been used as
            criteria for defining a mountain.
        </div>
    </div>
    <div class="col-6 col-md-3">
        <button type="submit" class="btn btn-primary form-control">Create</button>
    </div>
</div> *@


@* <div class="frame-338">
  <div class="frame-337">
    <div class="frame-225">
      <div class="text">Leave a comment</div>
      <div class="line-6"></div>
    </div>
    <div class="frame-336">
      <div class="frame-239">
        <div class="frame-235">
          <div class="text2">Type Comment</div>
          <div class="button-default">
            <div class="text3">Write here...</div>
          </div>
        </div>
      </div>
      <div class="frame-335">
        <div class="frame-238">
          <div class="frame-236">
            <div class="text2">Name</div>
            <div class="button-default2">
              <div class="profile">
                <div class="page-1">
                  <div class="dribbble-light-preview">
                    <svg
                      class="icons"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M10 12.0004C13.785 12.0004 16.958 14.2144 17.784 18.0004H2.216C3.042 14.2144 6.215 12.0004 10 12.0004ZM6 6.00042C6 3.79442 7.794 2.00042 10 2.00042C12.206 2.00042 14 3.79442 14 6.00042C14 8.20642 12.206 10.0004 10 10.0004C7.794 10.0004 6 8.20642 6 6.00042ZM13.758 10.6734C14.4582 10.1124 15.0232 9.40123 15.4113 8.59234C15.7994 7.78344 16.0006 6.89759 16 6.00042C16.0007 4.98596 15.7442 3.98794 15.2545 3.09954C14.7647 2.21113 14.0577 1.46131 13.1996 0.920339C12.3414 0.37937 11.3601 0.0648753 10.3473 0.00615406C9.33457 -0.0525672 8.32346 0.146486 7.40851 0.584645C6.49356 1.0228 5.70465 1.6858 5.11551 2.51165C4.52637 3.3375 4.15622 4.2992 4.0397 5.30694C3.92319 6.31467 4.06408 7.33548 4.44922 8.27398C4.83436 9.21248 5.45118 10.038 6.242 10.6734C2.583 12.0484 0 15.4454 0 20.0004H20C20 15.4454 17.417 12.0484 13.758 10.6734Z"
                        fill="#98A2B3"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="text3">Name</div>
            </div>
          </div>
        </div>
        <div class="frame-226">
          <svg
            class="square-check"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 12.5L10.5 15L16 9M7.2 20H16.8C17.9201 20 18.4802 20 18.908 19.782C19.2843 19.5903 19.5903 19.2843 19.782 18.908C20 18.4802 20 17.9201 20 16.8V7.2C20 6.0799 20 5.51984 19.782 5.09202C19.5903 4.71569 19.2843 4.40973 18.908 4.21799C18.4802 4 17.9201 4 16.8 4H7.2C6.0799 4 5.51984 4 5.09202 4.21799C4.71569 4.40973 4.40973 4.71569 4.21799 5.09202C4 5.51984 4 6.07989 4 7.2V16.8C4 17.9201 4 18.4802 4.21799 18.908C4.40973 19.2843 4.71569 19.5903 5.09202 19.782C5.51984 20 6.07989 20 7.2 20Z"
              stroke="#475467"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <div class="save-my-name-in-this-browser-for-the-next-time-i-comment">
            Save my name in this browser for the next time I comment.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-default3">
    <div class="text4">Post Comment</div>
  </div>
</div>
 *@