<div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
    <div>
        <h6 class="fw-bold text-dark mb-1">Leave a comment</h6>
        <hr />
        <p class="small mb-0">
            Type a comment
        </p>
        <br />
    </div>
    <div class="d-flex flex-start w-100">
        <div class="form-outline w-100">
            <textarea class="form-control" id="textAreaExample" rows="4"
                      style="background: #fff;" placeholder="Write here..."></textarea>
        </div>
    </div>
    <div class="mt-2 pt-1">
        <button type="button" class="btn btn-primary btn-outline-dark btn-sm flex-start" style="background: green;">Post comment</button>
        <button type="button" class="btn btn-outline-dark btn-sm float-end" style="background: green;">Cancel</button>
    </div>
</div>