<link href="~/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<partial name="_WriteArticleNavBarPartial" />

<section class="position-absolute d-flex flex-column w-100 h-100" style="left: 0;">
    <div class="container">
        <div class="mt-5">
            <h3 class="mb-3" style="font-size: 1.2rem; font-family: 'Inter'; letter-spacing: .1px;">Create Article</h3>
            <form method="post" asp-area="" asp-controller="DashBoard" asp-action="CreateArticle" id="articleForm">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div id="article-title" class="col p-0 d-flex align-items-center mb-3">
                        <input name="Title" class="form-control input-ify" placeholder="Title">
                    </div>
                    <div class="col mb-3">
                        <label for="imageUrl" class="form-label"></label>
                        <input type="text" name="ImageUrl" id="imageUrl" class="form-control" placeholder="Enter Image URL">
                    </div>
                    <select class="col form-control form-select input-ify mb-3">
                        <option class="small text-secondary" selected disabled>--- Select Tag Option ---</option>
                        <option value="DotNet">DotNet</option>
                        <option value="Java">Java</option>
                        <option value="Node">Node</option>
                    </select>
                    <div class="col-12 mb-3">
                        <textarea name="Content" id="article-ify" class="form-control" placeholder="Tell your story...."></textarea>
                    </div>
                    <!-- New input for image URL -->
                   
                </div>
                <div>
                    <button id="publishButton" class="btn btn-success">Publish</button>
                </div>
            </form>
            <script>
                var editor = new FroalaEditor("#article-ify", {
                    heightMin: 300,
                    heightMax: 500,
                })
            </script>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#publishButton').click(function (e) {
            e.preventDefault();

            $.ajax({
                url: '/DashBoard/CreateArticle',
                type: 'POST',
                data: $(this).serialize(),
                success: function (data) {
                    if (data.success) {
                        $('#successModal').modal('show');
                    } else {
                        console.log('Article creation failed. Error: ' + data.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.log('AJAX request failed. Status: ' + status + ', Error: ' + error);
                }
            });
        });
    });
</script>
