@model DevsTutorialCenterMVC.Models.GetAllTagsDto


<link href="~/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<partial name="_WriteArticleNavBarPartial" />

<section class="position-absolute d-flex flex-column w-100 h-100" style="left: 0;">
    <div class="container">
        <div class="mt-5">
            <h3 class="mb-3" style="font-size: 1.2rem; font-family: 'Inter'; letter-spacing: .1px;">Create Article</h3>
            <form method="post" asp-area="" asp-controller="DashBoard" asp-action="CreateArticle" id="articleForm">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div id="article-title" class="col p-0 d-flex align-items-center mb-3">
                        <input name="Title" class="form-control input-ify" placeholder="Title">
                    </div>
                    <div id="publicId" class="col p-0 d-flex align-items-center mb-3">
                        <input name="Public-Id" class="form-control input-ify" placeholder="Public-Id">
                    </div>
                    <div class="col mb-3">
                        <label for="imageUrl" class="form-label"></label>
                        <input type="text" name="ImageUrl" id="imageUrl" class="form-control" placeholder="Enter Image URL">
                    </div>
                    <select class="col form-control form-select input-ify mb-3" asp-for="TagId" asp-items="@(new SelectList(Model.TagId, "Id", "Name"))">
                        <option class="small text-secondary" selected disabled>--- Select Tag Option ---</option>
                        @foreach (var tag in Model.TagId)
                        {
                            <option value="@tag.Id">@tag.Name</option>
                       
                        }
                    </select>
                    <div class="col-12 mb-3">
                        <textarea name="Content" id="article-ify" class="form-control" placeholder="Tell your story...."></textarea>
                    </div>
                    <!-- New input for image URL -->
                   
                </div>
                <div>
                    <button id="publishButton" class="btn btn-success">Publish</button>
                </div>
            </form>
            <script>
                var editor = new FroalaEditor("#article-ify", {
                    heightMin: 300,
                    heightMax: 500,
                })
            </script>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#publishButton').click(function (e) {
            e.preventDefault();

            $.ajax({
                url: 'https://localhost:7290/DashBoard/CreateArticle',
                method: 'POST',
                contentType: 'application/json', // Set the correct content type
                data: JSON.stringify({ /* your JSON data here */ }), // Convert your data to JSON format
                success: function (response) {
                    "articlr created successfully"
                },
                error: function (error) {
                    // Handle error
                }
            });
        });
    });
</script>
