<partial name="_StoryPagesNavPartial" />

<div class="story-container">
    <div class="story-main">
        <div class="story-article-nav">
            <ul class="nav story-nav-pills" id="pills-tab" role="tablist">
                <li class="story-nav-item" role="presentation">
                    <a class="story-nav-link active" id="pills-drafts-tab"
                       data-bs-toggle="pill" data-bs-target="#pills-drafts" type="button" role="tab" aria-controls="pills-drafts"
                       aria-selected="true">Drafts</a>
                </li>
                <li class="story-nav-item" role="presentation">
                    <a class="story-nav-link" id="pills-PublishedArticles-tab"
                       data-bs-toggle="pill" data-bs-target="#pills-PublishedArticles" type="button" role="tab" aria-controls="pills-PublishedArticles"
                       aria-selected="false">Published Articles</a>
                </li>
                <li class="story-nav-item" role="presentation">
                    <a class="story-nav-link" id="pills-PendingArticles-tab"
                       data-bs-toggle="pill" data-bs-target="#pills-PendingArticles" type="button" role="tab" aria-controls="pills-PendingArticles"
                       aria-selected="false">Pending Articles</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-drafts" role="tabpanel" aria-labelledby="pills-drafts-tab">
                    <div class="story-content">
                        <div class="story-articles">
                            <article>
                                <div class="story-article-text">
                                    <h2 class="story-h2">Exploring the Evolution of Java From Past to Present</h2>
                                    <p>Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                    <div class="story-last-edited">
                                        Last edited &dash; <span class="story-date">Jun 12, 2023</span>
                                    </div>
                                </div>
                                <div class="story-article-img">
                                    <img src="~/images/storyPageImg/MicrosoftTeams-image (11).png" alt="image1">
                                </div>
                            </article>
                            <article>
                                <div class="story-article-text">
                                    <h2 class="story-h2">Exploring the Evolution of Java From Past to Present</h2>
                                    <p>Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                    <div class="story-last-edited">
                                        Last edited &dash; <span class="story-date">Jun 12, 2023</span>
                                    </div>
                                </div>
                                <div class="story-article-img">
                                    <img src="~/images/storyPageImg/MicrosoftTeams-image (10).png" alt="image1">
                                </div>
                            </article>
                            <article>
                                <div class="story-article-text">
                                    <h2 class="story-h2">Exploring the Evolution of Java From Past to Present</h2>
                                    <p>Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                    <div class="story-last-edited">
                                        Last edited &dash; <span class="story-date">Jun 12, 2023</span>
                                    </div>
                                </div>
                                <div class="story-article-img">
                                    <img src="~/images/storyPageImg/MicrosoftTeams-image (9).png" alt="image1">
                                </div>
                            </article>
                            <article>
                                <div class="story-article-text">
                                    <h2 class="story-h2">Exploring the Evolution of Java From Past to Present</h2>
                                    <p>Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                    <div class="story-last-edited">
                                        Last edited &dash; <span class="story-date">Jun 12, 2023</span>
                                    </div>
                                </div>
                                <div class="story-article-img">
                                    <img src="~/images/storyPageImg/MicrosoftTeams-image (9).png" alt="image1">
                                </div>
                            </article>
                        </div>
                        <div class="story-aside">
                            <div class="story-author">
                                <h3 class="story-h3">Author</h3>
                                <div class="story-author-details">
                                    <div class="story-author-img-box">
                                        <img class="story-img" src="~/images/storyPageImg//MicrosoftTeams-image (12).png" alt="Ayomide">
                                    </div>
                                    <div class="story-details">
                                        <div class="story-name">
                                            <h3 class="story-h3">Ayomide Akin</h3>
                                            <p><span class="story-num-of-article">53</span> articles</p>
                                        </div>
                                        <p class="story-profession">
                                            UIUX Design Intern
                                        </p>
                                    </div>
                                </div>
                                <div class="story-author-details">
                                    <div class="story-author-img-box">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (13).png" alt="Ayomide">
                                    </div>
                                    <div class="story-details">
                                        <div class="story-name">
                                            <h3 class="story-h3">Ayomide Akin</h3>
                                            <p><span class="story-num-of-article">53</span> articles</p>
                                        </div>
                                        <p class="story-profession">
                                            UIUX Design Intern
                                        </p>
                                    </div>
                                </div>
                                <div class="story-author-details">
                                    <div class="story-author-img-box">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (14).png" alt="Ayomide">
                                    </div>
                                    <div class="story-details">
                                        <div class="story-name">
                                            <h3 class="story-h3">Ayomide Akin</h3>
                                            <p><span class="story-num-of-article">53</span> articles</p>
                                        </div>
                                        <p class="story-profession">
                                            UIUX Design Intern
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="story-more-topics">
                                <h3 class="story-h3">More Topics</h3>
                                <div class="story-technologies">
                                    <div class="story-lang">JAVA</div>
                                    <div class="story-lang">PYTHON</div>
                                    <div class="story-lang">C++</div>
                                    <div class="story-lang">C#</div>
                                    <div class="story-lang">NODE.JS</div>
                                    <div class="story-lang">IOS</div>
                                    <div class="story-lang">MYSQL</div>
                                    <div class="story-lang">MONGODB</div>
                                    <div class="story-lang">SWIFT</div>
                                    <div class="story-lang">REACT</div>
                                    <div class="story-lang">ANDRIOD</div>
                                    <div class="story-lang">ANGULAR</div>
                                    <div class="story-lang">PHP</div>
                                    <div class="story-lang">REACT NATIVE</div>
                                </div>
                            </div>
                            <div class="story-recommendations">
                                <h3 class="story-h3">Recommendation</h3>
                                <div class="story-recom-article">
                                    <div class="story-text">
                                        <h4>Exploring the Evolution of Java From Past to Present</h4>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                    <div class="story-recom-icon">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (8).png" alt="Icon">
                                    </div>
                                </div>
                                <div class="story-recom-article">
                                    <div class="story-text">
                                        <h4>Exploring the Evolution of Java From Past to Present</h4>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                    <div class="story-recom-icon">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (8).png" alt="Icon">
                                    </div>
                                </div>
                                <div class="story-recom-article">
                                    <div class="story-text">
                                        <h4>Exploring the Evolution of Java From Past to Present</h4>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                    <div class="story-recom-icon">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (8).png" alt="Icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="pills-PublishedArticles" role="tabpanel" aria-labelledby="pills-PublishedArticles-tab">
                    <div class="story-content">
                        <div class="story-articles">
                            <article>
                                <div class="story-article-text">
                                    <h2 class="story-h2">Exploring the Evolution of Java From Past to Present</h2>
                                    <p>Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                    <div class="story-last-edited">
                                        Last edited &dash; <span class="story-date">Jun 12, 2023</span>
                                    </div>
                                </div>
                                <div class="story-article-img">
                                    <img src="~/images/storyPageImg/MicrosoftTeams-image (11).png" alt="image1">
                                </div>
                            </article>
                            <article>
                                <div class="story-article-text">
                                    <h2 class="story-h2">Exploring the Evolution of Java From Past to Present</h2>
                                    <p>Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                    <div class="story-last-edited">
                                        Last edited &dash; <span class="story-date">Jun 12, 2023</span>
                                    </div>
                                </div>
                                <div class="story-article-img">
                                    <img src="~/images/storyPageImg/MicrosoftTeams-image (10).png" alt="image1">
                                </div>
                            </article>
                            <article>
                                <div class="story-article-text">
                                    <h2 class="story-h2">Exploring the Evolution of Java From Past to Present</h2>
                                    <p>Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                    <div class="story-last-edited">
                                        Last edited &dash; <span class="story-date">Jun 12, 2023</span>
                                    </div>
                                </div>
                                <div class="story-article-img">
                                    <img src="~/images/storyPageImg/MicrosoftTeams-image (9).png" alt="image1">
                                </div>
                            </article>
                            <article>
                                <div class="story-article-text">
                                    <h2 class="story-h2">Exploring the Evolution of Java From Past to Present</h2>
                                    <p>Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                    <div class="story-last-edited">
                                        Last edited &dash; <span class="story-date">Jun 12, 2023</span>
                                    </div>
                                </div>
                                <div class="story-article-img">
                                    <img src="~/images/storyPageImg/MicrosoftTeams-image (9).png" alt="image1">
                                </div>
                            </article>
                        </div>
                        <div class="story-aside">
                            <div class="story-author">
                                <h3 class="story-h3">Author</h3>
                                <div class="story-author-details">
                                    <div class="story-author-img-box">
                                        <img class="story-img" src="~/images/storyPageImg//MicrosoftTeams-image (12).png" alt="Ayomide">
                                    </div>
                                    <div class="story-details">
                                        <div class="story-name">
                                            <h3 class="story-h3">Ayomide Akin</h3>
                                            <p><span class="story-num-of-article">53</span> articles</p>
                                        </div>
                                        <p class="story-profession">
                                            UIUX Design Intern
                                        </p>
                                    </div>
                                </div>
                                <div class="story-author-details">
                                    <div class="story-author-img-box">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (13).png" alt="Ayomide">
                                    </div>
                                    <div class="story-details">
                                        <div class="story-name">
                                            <h3 class="story-h3">Ayomide Akin</h3>
                                            <p><span class="story-num-of-article">53</span> articles</p>
                                        </div>
                                        <p class="story-profession">
                                            UIUX Design Intern
                                        </p>
                                    </div>
                                </div>
                                <div class="story-author-details">
                                    <div class="story-author-img-box">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (14).png" alt="Ayomide">
                                    </div>
                                    <div class="story-details">
                                        <div class="story-name">
                                            <h3 class="story-h3">Ayomide Akin</h3>
                                            <p><span class="story-num-of-article">53</span> articles</p>
                                        </div>
                                        <p class="story-profession">
                                            UIUX Design Intern
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="story-more-topics">
                                <h3 class="story-h3">More Topics</h3>
                                <div class="story-technologies">
                                    <div class="story-lang">JAVA</div>
                                    <div class="story-lang">PYTHON</div>
                                    <div class="story-lang">C++</div>
                                    <div class="story-lang">C#</div>
                                    <div class="story-lang">NODE.JS</div>
                                    <div class="story-lang">IOS</div>
                                    <div class="story-lang">MYSQL</div>
                                    <div class="story-lang">MONGODB</div>
                                    <div class="story-lang">SWIFT</div>
                                    <div class="story-lang">REACT</div>
                                    <div class="story-lang">ANDRIOD</div>
                                    <div class="story-lang">ANGULAR</div>
                                    <div class="story-lang">PHP</div>
                                    <div class="story-lang">REACT NATIVE</div>
                                </div>
                            </div>
                            <div class="story-recommendations">
                                <h3 class="story-h3">Recommendation</h3>
                                <div class="story-recom-article">
                                    <div class="story-text">
                                        <h4>Exploring the Evolution of Java From Past to Present</h4>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                    <div class="story-recom-icon">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (8).png" alt="Icon">
                                    </div>
                                </div>
                                <div class="story-recom-article">
                                    <div class="story-text">
                                        <h4>Exploring the Evolution of Java From Past to Present</h4>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                    <div class="story-recom-icon">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (8).png" alt="Icon">
                                    </div>
                                </div>
                                <div class="story-recom-article">
                                    <div class="story-text">
                                        <h4>Exploring the Evolution of Java From Past to Present</h4>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                    <div class="story-recom-icon">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (8).png" alt="Icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="pills-PendingArticles" role="tabpanel" aria-labelledby="pills-PendingArticles-tab">
                    <div class="story-content">
                        <div class="story-articles">
                            <article>
                                <div class="story-article-text">
                                    <h2 class="story-h2">Exploring the Evolution of Java From Past to Present</h2>
                                    <p>Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                    <div class="story-last-edited">
                                        Last edited &dash; <span class="story-date">Jun 12, 2023</span>
                                    </div>
                                </div>
                                <div class="story-article-img">
                                    <img src="~/images/storyPageImg/MicrosoftTeams-image (11).png" alt="image1">
                                </div>
                            </article>
                            <article>
                                <div class="story-article-text">
                                    <h2 class="story-h2">Exploring the Evolution of Java From Past to Present</h2>
                                    <p>Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                    <div class="story-last-edited">
                                        Last edited &dash; <span class="story-date">Jun 12, 2023</span>
                                    </div>
                                </div>
                                <div class="story-article-img">
                                    <img src="~/images/storyPageImg/MicrosoftTeams-image (10).png" alt="image1">
                                </div>
                            </article>
                            <article>
                                <div class="story-article-text">
                                    <h2 class="story-h2">Exploring the Evolution of Java From Past to Present</h2>
                                    <p>Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                    <div class="story-last-edited">
                                        Last edited &dash; <span class="story-date">Jun 12, 2023</span>
                                    </div>
                                </div>
                                <div class="story-article-img">
                                    <img src="~/images/storyPageImg/MicrosoftTeams-image (9).png" alt="image1">
                                </div>
                            </article>
                            <article>
                                <div class="story-article-text">
                                    <h2 class="story-h2">Exploring the Evolution of Java From Past to Present</h2>
                                    <p>Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                    <div class="story-last-edited">
                                        Last edited &dash; <span class="story-date">Jun 12, 2023</span>
                                    </div>
                                </div>
                                <div class="story-article-img">
                                    <img src="~/images/storyPageImg/MicrosoftTeams-image (9).png" alt="image1">
                                </div>
                            </article>
                        </div>
                        <div class="story-aside">
                            <div class="story-author">
                                <h3 class="story-h3">Author</h3>
                                <div class="story-author-details">
                                    <div class="story-author-img-box">
                                        <img class="story-img" src="~/images/storyPageImg//MicrosoftTeams-image (12).png" alt="Ayomide">
                                    </div>
                                    <div class="story-details">
                                        <div class="story-name">
                                            <h3 class="story-h3">Ayomide Akin</h3>
                                            <p><span class="story-num-of-article">53</span> articles</p>
                                        </div>
                                        <p class="story-profession">
                                            UIUX Design Intern
                                        </p>
                                    </div>
                                </div>
                                <div class="story-author-details">
                                    <div class="story-author-img-box">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (13).png" alt="Ayomide">
                                    </div>
                                    <div class="story-details">
                                        <div class="story-name">
                                            <h3 class="story-h3">Ayomide Akin</h3>
                                            <p><span class="story-num-of-article">53</span> articles</p>
                                        </div>
                                        <p class="story-profession">
                                            UIUX Design Intern
                                        </p>
                                    </div>
                                </div>
                                <div class="story-author-details">
                                    <div class="story-author-img-box">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (14).png" alt="Ayomide">
                                    </div>
                                    <div class="story-details">
                                        <div class="story-name">
                                            <h3 class="story-h3">Ayomide Akin</h3>
                                            <p><span class="story-num-of-article">53</span> articles</p>
                                        </div>
                                        <p class="story-profession">
                                            UIUX Design Intern
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="story-more-topics">
                                <h3 class="story-h3">More Topics</h3>
                                <div class="story-technologies">
                                    <div class="story-lang">JAVA</div>
                                    <div class="story-lang">PYTHON</div>
                                    <div class="story-lang">C++</div>
                                    <div class="story-lang">C#</div>
                                    <div class="story-lang">NODE.JS</div>
                                    <div class="story-lang">IOS</div>
                                    <div class="story-lang">MYSQL</div>
                                    <div class="story-lang">MONGODB</div>
                                    <div class="story-lang">SWIFT</div>
                                    <div class="story-lang">REACT</div>
                                    <div class="story-lang">ANDRIOD</div>
                                    <div class="story-lang">ANGULAR</div>
                                    <div class="story-lang">PHP</div>
                                    <div class="story-lang">REACT NATIVE</div>
                                </div>
                            </div>
                            <div class="story-recommendations">
                                <h3 class="story-h3">Recommendation</h3>
                                <div class="story-recom-article">
                                    <div class="story-text">
                                        <h4>Exploring the Evolution of Java From Past to Present</h4>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                    <div class="story-recom-icon">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (8).png" alt="Icon">
                                    </div>
                                </div>
                                <div class="story-recom-article">
                                    <div class="story-text">
                                        <h4>Exploring the Evolution of Java From Past to Present</h4>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                    <div class="story-recom-icon">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (8).png" alt="Icon">
                                    </div>
                                </div>
                                <div class="story-recom-article">
                                    <div class="story-text">
                                        <h4>Exploring the Evolution of Java From Past to Present</h4>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                                    </div>
                                    <div class="story-recom-icon">
                                        <img class="story-img" src="~/images/storyPageImg/MicrosoftTeams-image (8).png" alt="Icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
