


<partial name="_BlogPostNavPartial" />


<div class="SETTINGS">
    <div>
        <div class="div">
            <div class="frame">
                <div class="more-topics">MORE TOPICS</div>
                <div class="frame-2">
                    <div class="element-courses-wrapper"><div class="element-courses">JAVA</div></div>
                    <div class="div-wrapper"><div class="text-wrapper">PYTHON</div></div>
                    <div class="element-courses-wrapper"><div class="text-wrapper">C++</div></div>
                    <div class="element-courses-wrapper"><div class="text-wrapper">C#</div></div>
                    <div class="element-courses-wrapper"><div class="element-courses-2">NODE.JS</div></div>
                </div>
            </div>
            <div class="frame-3">
                <div class="frame-4">
                    <div class="frame-5"><div class="text-wrapper-2">Communication Settings</div></div>
                    <div class="frame-6">
                        <div class="frame-7">
                            <div class="text-wrapper-3">Email Notifications</div>
                            <p class="p">Receive important updates and notifications via email.</p>
                        </div>
                        <div class="switch">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="frame-4">
                    <div class="frame-5"><div class="text-wrapper-2">Theme and Appearance</div></div>
                    <div class="frame-7">
                        <div class="frame-6">
                            <div class="frame-7">
                                <div class="text-wrapper-3">Theme Selection</div>
                                <p class="p">Allow users to choose from various blog themes or color schemes.</p>
                            </div>
                            <div class="switch">
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="frame-6">
                            <div class="frame-7">
                                <div class="text-wrapper-3">Customization</div>
                                <p class="p">Provide options for customizing fonts, background images, and layout styles.</p>
                            </div>
                            <div class="switch">
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frame-4">
                    <div class="frame-5"><div class="text-wrapper-2">Security Settings</div></div>
                    <div class="frame-7">
                        <div class="frame-6">
                            <div class="frame-7">
                                <div class="text-wrapper-3">Two-Factor Authentication</div>
                                <p class="p">Enhance the security of your account with two-factor authentication.</p>
                            </div>
                            <div class="switch">
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="frame-6">
                            <div class="frame-7">
                                <div class="text-wrapper-3">Password Update</div>
                                <p class="p">Change your account password for added security.</p>
                            </div>
                            <div class="switch">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frame-4">
                    <div class="frame-5"><div class="text-wrapper-2">Privacy Settings</div></div>
                    <div class="frame-7">
                        <div class="frame-6">
                            <div class="frame-7">
                                <div class="text-wrapper-3">Profile Visibility</div>
                                <p class="p">Control the visibility of your profile to other Devs Tutorial Center users.</p>
                            </div>
                            <div class="switch">
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="frame-6">
                            <div class="frame-7">
                                <div class="text-wrapper-3">Email Privacy</div>
                                <p class="p">Choose whether to display your email address publicly or keep it private.</p>
                            </div>
                            <div class="switch">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frame-4">
                    <div class="frame-5"><div class="text-wrapper-2">Content Management</div></div>
                    <div class="frame-7">
                        <div class="frame-6">
                            <div class="frame-7">
                                <div class="text-wrapper-3">Categories and Tags</div>
                                <p class="p">Enable users to manage and organize their blog posts with categories and tags.</p>
                            </div>
                            <div class="switch">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="frame-6">
                            <div class="frame-7">
                                <div class="text-wrapper-3">Featured Posts</div>
                                <p class="p">Allow users to highlight specific posts as featured on their blog&#39;s homepage.</p>
                            </div>
                            <div class="switch">
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frame-4">
                    <div class="frame-5"><div class="text-wrapper-2">Account Deactivation</div></div>
                    <div class="frame-wrapper">
                        <div class="frame-6">
                            <div class="frame-7">
                                <div class="text-wrapper-3">Deactivate Account</div>
                                <p class="p">Temporarily suspend or deactivate your Devs Tutorial Center account.</p>
                            </div>
                            <div class="switch">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>