@model StoryPageVM;

<partial name="_LandingPageNavPartial"/>

<div class="container">
    <div class="flex flex-col justify-start items-start mt-10 md:flex-row md:space-x-10">
        <div class="flex flex-col space-y-8 md:w-3/4">

            <div id="wrapper">
                <div id="tabContainer">
                    <div id="tabs">
                        <ul>
                            <li id="tabHeader_1">Drafts</li>
                            <li id="tabHeader_2">Published Articles</li>
                            <li id="tabHeader_3">Pending Articles</li>
                        </ul>
                    </div>
                    <div id="tabscontent ">
                        <div class="tabpage space-y-8 mt-6" id="tabpage_1">
                            @foreach (var draft in Model.DraftArticles)
                            {
                                <partial name="Components/_PendingListArticlePartial" model="draft"/>
                            }
                        </div>
                        <div class="tabpage space-y-8 mt-6" id="tabpage_2">
                            @foreach (var published in Model.PublishedArticles)
                            {
                                <partial name="Components/_PendingListArticlePartial" model="published"/>
                            }
                        </div>
                        <div class="tabpage space-y-8 mt-6" id="tabpage_3">
                            @foreach (var pendingArticle in Model.PendingArticles)
                            {
                                <partial name="Components/_PendingListArticlePartial" model="pendingArticle"/>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var pendingArticle in Model.PendingArticles)
            {
                <partial name="Components/_PendingListArticlePartial" model="pendingArticle"/>
            }
        </div>

        <div class="flex flex-col space-y-5 w-full mt-10 md:mt-0 md:w-2/5">
            <div>
                <p class="font-semibold">AUTHORS</p>
                <div class="mt-2">
                    @foreach (var topAuthor in Model.TopAuthors)
                    {
                        <partial name="Components/_AuthorListItemPartial" model="@topAuthor"/>
                    }
                </div>
            </div>

            <div class="">
                <p class="font-semibold">MORE TOPICS</p>
                <div class=" mt-2 p-1">
                    @foreach (var tag in Model.AllTags)
                    {
                        <partial name="Components/_TagComponentPartial" model="@tag"/>
                    }
                </div>

            </div>

            <div>
                <p class="font-semibold">RECOMMENDATIONS</p>
                <div class="mt-2">
                    @foreach (var recentpost in Model.RecentBlogPosts)
                    {
                        <partial name="Components/_BlogPostRecommendationItemPartial" model="@recentpost"/>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  	const container = document.getElementById("tabContainer");
	const tabcon = document.getElementById("tabscontent");
    const navitem = document.getElementById("tabHeader_1");
    
    const ident = navitem.id.split("_")[1];
    navitem.parentNode.setAttribute("data-current",ident);
    navitem.setAttribute("class","tabActiveHeader");

    const tabs = container.getElementsByTagName("li");
    for (let i = 0; i < tabs.length; i++) {
        tabs[i].onclick=displayPage;
    }

function displayPage() {
    const current = this.parentNode.getAttribute("data-current");
    document.getElementById("tabHeader_" + current).removeAttribute("class");
    document.getElementById("tabpage_" + current).style.display="none";

    const ident = this.id.split("_")[1];
    this.setAttribute("class","tabActiveHeader");
    document.getElementById("tabpage_" + ident).style.display="block";
    this.parentNode.setAttribute("data-current",ident);
}
</script>