<partial name="_AuthorsUnderAdminNavPartial" />
<div>
    <div class="dtc-13-authors">



        <div class="dtc-13-articles">
            <div class="dtc-13-articles2">ARTICLES</div>
            <div class="dtc-13-articles3">
                <div class="dtc-13-frame-60">
                    <div class="dtc-13-frame-602">
                        <div class="dtc-13-graphic-design">
                            Exploring the Evolution of Java: From Past to Present
                        </div>
                        <div class="dtc-13-graphic-design2">
                            Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                            vulputate libero et velit interdum, ac aliquet odio mattis.
                        </div>
                        <div class="dtc-13-frame-58">
                            <div class="dtc-13-frame-43">
                                <div class="dtc-13-_125-courses3">Published</div>
                                <div class="dtc-13-line-2"></div>
                                <div class="dtc-13-_125-courses3">Jun 12, 2023</div>
                            </div>
                        </div>
                        <div class="dtc-13-frame-335">
                            <div class="dtc-13-frame-3">
                                <svg class="dtc-13-love"
                                     width="16"
                                     height="16"
                                     viewBox="0 0 16 16"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.4401 3.07256C12.7323 2.36456 11.7939 1.93411 10.7956 1.85948C9.79726 1.78485 8.8053 2.071 8.0001 2.66589C7.15187 2.03498 6.0961 1.7489 5.04538 1.86525C3.99467 1.9816 3.02706 2.49174 2.33742 3.29295C1.64777 4.09415 1.28732 5.12691 1.32864 6.18323C1.36996 7.23956 1.80998 8.241 2.5601 8.98589L7.52677 13.9526C7.58874 14.015 7.66248 14.0646 7.74372 14.0985C7.82496 14.1323 7.91209 14.1498 8.0001 14.1498C8.08811 14.1498 8.17525 14.1323 8.25649 14.0985C8.33773 14.0646 8.41146 14.015 8.47344 13.9526L13.4401 8.98589C13.8285 8.59771 14.1367 8.13679 14.3469 7.62947C14.5571 7.12215 14.6654 6.57838 14.6654 6.02922C14.6654 5.48007 14.5571 4.9363 14.3469 4.42898C14.1367 3.92166 13.8285 3.46074 13.4401 3.07256ZM12.5001 8.04589L8.0001 12.5392L3.5001 8.04589C3.10355 7.64769 2.83342 7.14126 2.72359 6.59012C2.61376 6.03898 2.66912 5.46768 2.88274 4.94789C3.09635 4.42809 3.4587 3.98295 3.92433 3.66831C4.38997 3.35366 4.93814 3.18352 5.5001 3.17922C6.25084 3.18106 6.97017 3.48078 7.5001 4.01256C7.56208 4.07504 7.63581 4.12464 7.71705 4.15849C7.79829 4.19233 7.88543 4.20976 7.97344 4.20976C8.06144 4.20976 8.14858 4.19233 8.22982 4.15849C8.31106 4.12464 8.38479 4.07504 8.44677 4.01256C8.99232 3.53981 9.6971 3.29199 10.4185 3.31924C11.1398 3.34649 11.8239 3.64679 12.3322 4.15935C12.8405 4.67191 13.1352 5.35845 13.1564 6.08002C13.1777 6.80159 12.924 7.50428 12.4468 8.04589H12.5001Z"
                                          fill="#98A2B3" />
                                </svg>



                                <div class="dtc-13-_24-likes">24 likes</div>
                            </div>
                            <div class="dtc-13-frame-2">
                                <svg class="dtc-13-comment"
                                     width="16"
                                     height="16"
                                     viewBox="0 0 16 16"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_37_11784)">
                                        <path d="M8 3.42801C6.78571 3.42801 5.6503 3.63486 4.59375 4.04855C3.5372 4.46224 2.69792 5.02028 2.07589 5.72266C1.45387 6.42504 1.14286 7.18397 1.14286 7.99944C1.14286 8.66611 1.35565 9.30153 1.78125 9.90569C2.20685 10.5099 2.80655 11.0322 3.58036 11.4727L4.35714 11.9191L4.11607 12.7762C3.97321 13.3179 3.76488 13.8298 3.49107 14.3119C4.39583 13.9369 5.21429 13.428 5.94643 12.7852L6.33036 12.4459L6.83929 12.4994C7.25 12.5471 7.63691 12.5709 8 12.5709C9.21429 12.5709 10.3497 12.364 11.4063 11.9503C12.4628 11.5366 13.3021 10.9786 13.9241 10.2762C14.5461 9.57385 14.8571 8.81492 14.8571 7.99944C14.8571 7.18397 14.5461 6.42504 13.9241 5.72266C13.3021 5.02028 12.4628 4.46224 11.4063 4.04855C10.3497 3.63486 9.21429 3.42801 8 3.42801ZM16 7.99944C16 9.03516 15.6429 9.992 14.9286 10.87C14.2143 11.748 13.244 12.4414 12.0179 12.9503C10.7917 13.4593 9.45238 13.7137 8 13.7137C7.58333 13.7137 7.15179 13.6899 6.70536 13.6423C5.52679 14.684 4.15774 15.4042 2.59821 15.803C2.30655 15.8863 1.96726 15.9518 1.58036 15.9994H1.53571C1.44643 15.9994 1.36607 15.9682 1.29464 15.9057C1.22321 15.8432 1.1756 15.7613 1.15179 15.6602V15.6512C1.13393 15.6274 1.13244 15.5917 1.14732 15.5441C1.1622 15.4965 1.16815 15.4667 1.16518 15.4548C1.1622 15.4429 1.1756 15.4146 1.20536 15.37L1.25893 15.2896L1.32143 15.2137L1.39286 15.1334C1.43452 15.0858 1.52679 14.9831 1.66964 14.8253C1.8125 14.6676 1.91518 14.5545 1.97768 14.486C2.04018 14.4176 2.13244 14.3 2.25446 14.1334C2.37649 13.9667 2.47321 13.8149 2.54464 13.678C2.61607 13.5411 2.69643 13.3655 2.78571 13.1512C2.875 12.9369 2.95238 12.7108 3.01786 12.4727C2.08333 11.9429 1.34673 11.2881 0.808036 10.5084C0.269345 9.72861 0 8.8923 0 7.99944C0 6.96373 0.357143 6.00688 1.07143 5.12891C1.78571 4.25093 2.75595 3.55748 3.98214 3.04855C5.20833 2.53962 6.54762 2.28516 8 2.28516C9.45238 2.28516 10.7917 2.53962 12.0179 3.04855C13.244 3.55748 14.2143 4.25093 14.9286 5.12891C15.6429 6.00688 16 6.96373 16 7.99944Z"
                                              fill="#98A2B3" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_37_11784">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>



                                <div class="dtc-13-_5-comments">5 comments</div>
                            </div>
                            <div class="dtc-13-frame-4">
                                <svg class="dtc-13-report"
                                     width="16"
                                     height="16"
                                     viewBox="0 0 16 16"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_37_11788)">
                                        <path d="M10.4867 2H5.51333L2 5.51333V10.4867L5.51333 14H10.4867L14 10.4867V5.51333L10.4867 2ZM12.6667 9.93333L9.93333 12.6667H6.06667L3.33333 9.93333V6.06667L6.06667 3.33333H9.93333L12.6667 6.06667V9.93333Z"
                                              fill="#98A2B3" />
                                        <path d="M7.99992 11.3333C8.36811 11.3333 8.66659 11.0349 8.66659 10.6667C8.66659 10.2985 8.36811 10 7.99992 10C7.63173 10 7.33325 10.2985 7.33325 10.6667C7.33325 11.0349 7.63173 11.3333 7.99992 11.3333Z"
                                              fill="#98A2B3" />
                                        <path d="M7.33325 4.66602H8.66659V9.33268H7.33325V4.66602Z"
                                              fill="#98A2B3" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_37_11788">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>



                                <div class="dtc-13-_2-reports">2 reports</div>
                            </div>
                        </div>
                    </div>
                    <img class="dtc-13-frame-59" src="~/images/first photo.png" />
                </div>
                <div class="dtc-13-line-4"></div>
                <div class="dtc-13-frame-61">
                    <div class="dtc-13-frame-582">
                        <div class="dtc-13-graphic-design">
                            Exploring the Evolution of Java: From Past to Present
                        </div>
                        <div class="dtc-13-graphic-design2">
                            Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                            vulputate libero et velit interdum, ac aliquet odio mattis.
                        </div>
                        <div class="dtc-13-frame-58">
                            <div class="dtc-13-frame-43">
                                <div class="dtc-13-_125-courses3">Published</div>
                                <div class="dtc-13-line-2"></div>
                                <div class="dtc-13-_125-courses3">Jun 12, 2023</div>
                            </div>
                        </div>
                        <div class="dtc-13-frame-334">
                            <div class="dtc-13-frame-3">
                                <svg class="dtc-13-love2"
                                     width="16"
                                     height="16"
                                     viewBox="0 0 16 16"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.4401 3.07256C12.7323 2.36456 11.7939 1.93411 10.7956 1.85948C9.79726 1.78485 8.8053 2.071 8.0001 2.66589C7.15187 2.03498 6.0961 1.7489 5.04538 1.86525C3.99467 1.9816 3.02706 2.49174 2.33742 3.29295C1.64777 4.09415 1.28732 5.12691 1.32864 6.18323C1.36996 7.23956 1.80998 8.241 2.5601 8.98589L7.52677 13.9526C7.58874 14.015 7.66248 14.0646 7.74372 14.0985C7.82496 14.1323 7.91209 14.1498 8.0001 14.1498C8.08811 14.1498 8.17525 14.1323 8.25649 14.0985C8.33773 14.0646 8.41146 14.015 8.47344 13.9526L13.4401 8.98589C13.8285 8.59771 14.1367 8.13679 14.3469 7.62947C14.5571 7.12215 14.6654 6.57838 14.6654 6.02922C14.6654 5.48007 14.5571 4.9363 14.3469 4.42898C14.1367 3.92166 13.8285 3.46074 13.4401 3.07256ZM12.5001 8.04589L8.0001 12.5392L3.5001 8.04589C3.10355 7.64769 2.83342 7.14126 2.72359 6.59012C2.61376 6.03898 2.66912 5.46768 2.88274 4.94789C3.09635 4.42809 3.4587 3.98295 3.92433 3.66831C4.38997 3.35366 4.93814 3.18352 5.5001 3.17922C6.25084 3.18106 6.97017 3.48078 7.5001 4.01256C7.56208 4.07504 7.63581 4.12464 7.71705 4.15849C7.79829 4.19233 7.88543 4.20976 7.97344 4.20976C8.06144 4.20976 8.14858 4.19233 8.22982 4.15849C8.31106 4.12464 8.38479 4.07504 8.44677 4.01256C8.99232 3.53981 9.6971 3.29199 10.4185 3.31924C11.1398 3.34649 11.8239 3.64679 12.3322 4.15935C12.8405 4.67191 13.1352 5.35845 13.1564 6.08002C13.1777 6.80159 12.924 7.50428 12.4468 8.04589H12.5001Z"
                                          fill="#98A2B3" />
                                </svg>



                                <div class="dtc-13-_24-likes">24 likes</div>
                            </div>
                            <div class="dtc-13-frame-2">
                                <svg class="dtc-13-comment2"
                                     width="16"
                                     height="16"
                                     viewBox="0 0 16 16"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_37_11554)">
                                        <path d="M8 3.42801C6.78571 3.42801 5.6503 3.63486 4.59375 4.04855C3.5372 4.46224 2.69792 5.02028 2.07589 5.72266C1.45387 6.42504 1.14286 7.18397 1.14286 7.99944C1.14286 8.66611 1.35565 9.30153 1.78125 9.90569C2.20685 10.5099 2.80655 11.0322 3.58036 11.4727L4.35714 11.9191L4.11607 12.7762C3.97321 13.3179 3.76488 13.8298 3.49107 14.3119C4.39583 13.9369 5.21429 13.428 5.94643 12.7852L6.33036 12.4459L6.83929 12.4994C7.25 12.5471 7.63691 12.5709 8 12.5709C9.21429 12.5709 10.3497 12.364 11.4063 11.9503C12.4628 11.5366 13.3021 10.9786 13.9241 10.2762C14.5461 9.57385 14.8571 8.81492 14.8571 7.99944C14.8571 7.18397 14.5461 6.42504 13.9241 5.72266C13.3021 5.02028 12.4628 4.46224 11.4063 4.04855C10.3497 3.63486 9.21429 3.42801 8 3.42801ZM16 7.99944C16 9.03516 15.6429 9.992 14.9286 10.87C14.2143 11.748 13.244 12.4414 12.0179 12.9503C10.7917 13.4593 9.45238 13.7137 8 13.7137C7.58333 13.7137 7.15179 13.6899 6.70536 13.6423C5.52679 14.684 4.15774 15.4042 2.59821 15.803C2.30655 15.8863 1.96726 15.9518 1.58036 15.9994H1.53571C1.44643 15.9994 1.36607 15.9682 1.29464 15.9057C1.22321 15.8432 1.1756 15.7613 1.15179 15.6602V15.6512C1.13393 15.6274 1.13244 15.5917 1.14732 15.5441C1.1622 15.4965 1.16815 15.4667 1.16518 15.4548C1.1622 15.4429 1.1756 15.4146 1.20536 15.37L1.25893 15.2896L1.32143 15.2137L1.39286 15.1334C1.43452 15.0858 1.52679 14.9831 1.66964 14.8253C1.8125 14.6676 1.91518 14.5545 1.97768 14.486C2.04018 14.4176 2.13244 14.3 2.25446 14.1334C2.37649 13.9667 2.47321 13.8149 2.54464 13.678C2.61607 13.5411 2.69643 13.3655 2.78571 13.1512C2.875 12.9369 2.95238 12.7108 3.01786 12.4727C2.08333 11.9429 1.34673 11.2881 0.808036 10.5084C0.269345 9.72861 0 8.8923 0 7.99944C0 6.96373 0.357143 6.00688 1.07143 5.12891C1.78571 4.25093 2.75595 3.55748 3.98214 3.04855C5.20833 2.53962 6.54762 2.28516 8 2.28516C9.45238 2.28516 10.7917 2.53962 12.0179 3.04855C13.244 3.55748 14.2143 4.25093 14.9286 5.12891C15.6429 6.00688 16 6.96373 16 7.99944Z"
                                              fill="#98A2B3" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_37_11554">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>



                                <div class="dtc-13-_5-comments">5 comments</div>
                            </div>
                        </div>
                    </div>
                    <img class="dtc-13-frame-59" src="~/images/second photo.png" />
                </div>
                <div class="dtc-13-line-5"></div>
                <div class="dtc-13-frame-62">
                    <div class="dtc-13-frame-582">
                        <div class="dtc-13-graphic-design">
                            Exploring the Evolution of Java: From Past to Present
                        </div>
                        <div class="dtc-13-graphic-design2">
                            Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                            vulputate libero et velit interdum, ac aliquet odio mattis.
                        </div>
                        <div class="dtc-13-frame-58">
                            <div class="dtc-13-frame-43">
                                <div class="dtc-13-_125-courses3">Published</div>
                                <div class="dtc-13-line-2"></div>
                                <div class="dtc-13-_125-courses3">Jun 12, 2023</div>
                            </div>
                        </div>
                        <div class="dtc-13-frame-335">
                            <div class="dtc-13-frame-3">
                                <svg class="dtc-13-love3"
                                     width="16"
                                     height="16"
                                     viewBox="0 0 16 16"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.4401 3.07256C12.7323 2.36456 11.7939 1.93411 10.7956 1.85948C9.79726 1.78485 8.8053 2.071 8.0001 2.66589C7.15187 2.03498 6.0961 1.7489 5.04538 1.86525C3.99467 1.9816 3.02706 2.49174 2.33742 3.29295C1.64777 4.09415 1.28732 5.12691 1.32864 6.18323C1.36996 7.23956 1.80998 8.241 2.5601 8.98589L7.52677 13.9526C7.58874 14.015 7.66248 14.0646 7.74372 14.0985C7.82496 14.1323 7.91209 14.1498 8.0001 14.1498C8.08811 14.1498 8.17525 14.1323 8.25649 14.0985C8.33773 14.0646 8.41146 14.015 8.47344 13.9526L13.4401 8.98589C13.8285 8.59771 14.1367 8.13679 14.3469 7.62947C14.5571 7.12215 14.6654 6.57838 14.6654 6.02922C14.6654 5.48007 14.5571 4.9363 14.3469 4.42898C14.1367 3.92166 13.8285 3.46074 13.4401 3.07256ZM12.5001 8.04589L8.0001 12.5392L3.5001 8.04589C3.10355 7.64769 2.83342 7.14126 2.72359 6.59012C2.61376 6.03898 2.66912 5.46768 2.88274 4.94789C3.09635 4.42809 3.4587 3.98295 3.92433 3.66831C4.38997 3.35366 4.93814 3.18352 5.5001 3.17922C6.25084 3.18106 6.97017 3.48078 7.5001 4.01256C7.56208 4.07504 7.63581 4.12464 7.71705 4.15849C7.79829 4.19233 7.88543 4.20976 7.97344 4.20976C8.06144 4.20976 8.14858 4.19233 8.22982 4.15849C8.31106 4.12464 8.38479 4.07504 8.44677 4.01256C8.99232 3.53981 9.6971 3.29199 10.4185 3.31924C11.1398 3.34649 11.8239 3.64679 12.3322 4.15935C12.8405 4.67191 13.1352 5.35845 13.1564 6.08002C13.1777 6.80159 12.924 7.50428 12.4468 8.04589H12.5001Z"
                                          fill="#98A2B3" />
                                </svg>



                                <div class="dtc-13-_24-likes">24 likes</div>
                            </div>
                            <div class="dtc-13-frame-2">
                                <svg class="dtc-13-comment3"
                                     width="16"
                                     height="16"
                                     viewBox="0 0 16 16"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_37_11768)">
                                        <path d="M8 3.42801C6.78571 3.42801 5.6503 3.63486 4.59375 4.04855C3.5372 4.46224 2.69792 5.02028 2.07589 5.72266C1.45387 6.42504 1.14286 7.18397 1.14286 7.99944C1.14286 8.66611 1.35565 9.30153 1.78125 9.90569C2.20685 10.5099 2.80655 11.0322 3.58036 11.4727L4.35714 11.9191L4.11607 12.7762C3.97321 13.3179 3.76488 13.8298 3.49107 14.3119C4.39583 13.9369 5.21429 13.428 5.94643 12.7852L6.33036 12.4459L6.83929 12.4994C7.25 12.5471 7.63691 12.5709 8 12.5709C9.21429 12.5709 10.3497 12.364 11.4063 11.9503C12.4628 11.5366 13.3021 10.9786 13.9241 10.2762C14.5461 9.57385 14.8571 8.81492 14.8571 7.99944C14.8571 7.18397 14.5461 6.42504 13.9241 5.72266C13.3021 5.02028 12.4628 4.46224 11.4063 4.04855C10.3497 3.63486 9.21429 3.42801 8 3.42801ZM16 7.99944C16 9.03516 15.6429 9.992 14.9286 10.87C14.2143 11.748 13.244 12.4414 12.0179 12.9503C10.7917 13.4593 9.45238 13.7137 8 13.7137C7.58333 13.7137 7.15179 13.6899 6.70536 13.6423C5.52679 14.684 4.15774 15.4042 2.59821 15.803C2.30655 15.8863 1.96726 15.9518 1.58036 15.9994H1.53571C1.44643 15.9994 1.36607 15.9682 1.29464 15.9057C1.22321 15.8432 1.1756 15.7613 1.15179 15.6602V15.6512C1.13393 15.6274 1.13244 15.5917 1.14732 15.5441C1.1622 15.4965 1.16815 15.4667 1.16518 15.4548C1.1622 15.4429 1.1756 15.4146 1.20536 15.37L1.25893 15.2896L1.32143 15.2137L1.39286 15.1334C1.43452 15.0858 1.52679 14.9831 1.66964 14.8253C1.8125 14.6676 1.91518 14.5545 1.97768 14.486C2.04018 14.4176 2.13244 14.3 2.25446 14.1334C2.37649 13.9667 2.47321 13.8149 2.54464 13.678C2.61607 13.5411 2.69643 13.3655 2.78571 13.1512C2.875 12.9369 2.95238 12.7108 3.01786 12.4727C2.08333 11.9429 1.34673 11.2881 0.808036 10.5084C0.269345 9.72861 0 8.8923 0 7.99944C0 6.96373 0.357143 6.00688 1.07143 5.12891C1.78571 4.25093 2.75595 3.55748 3.98214 3.04855C5.20833 2.53962 6.54762 2.28516 8 2.28516C9.45238 2.28516 10.7917 2.53962 12.0179 3.04855C13.244 3.55748 14.2143 4.25093 14.9286 5.12891C15.6429 6.00688 16 6.96373 16 7.99944Z"
                                              fill="#98A2B3" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_37_11768">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>



                                <div class="dtc-13-_5-comments">5 comments</div>
                            </div>
                            <div class="dtc-13-frame-4">
                                <svg class="dtc-13-report2"
                                     width="16"
                                     height="16"
                                     viewBox="0 0 16 16"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_37_11772)">
                                        <path d="M10.4867 2H5.51333L2 5.51333V10.4867L5.51333 14H10.4867L14 10.4867V5.51333L10.4867 2ZM12.6667 9.93333L9.93333 12.6667H6.06667L3.33333 9.93333V6.06667L6.06667 3.33333H9.93333L12.6667 6.06667V9.93333Z"
                                              fill="#98A2B3" />
                                        <path d="M7.99992 11.3333C8.36811 11.3333 8.66659 11.0349 8.66659 10.6667C8.66659 10.2985 8.36811 10 7.99992 10C7.63173 10 7.33325 10.2985 7.33325 10.6667C7.33325 11.0349 7.63173 11.3333 7.99992 11.3333Z"
                                              fill="#98A2B3" />
                                        <path d="M7.33325 4.66602H8.66659V9.33268H7.33325V4.66602Z"
                                              fill="#98A2B3" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_37_11772">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>



                                <div class="dtc-13-_1-report">1 report</div>
                            </div>
                        </div>
                    </div>
                    <img class="dtc-13-frame-59" src="~/images/third photo.png" />
                </div>
                <div class="dtc-13-line-6"></div>
                <div class="dtc-13-frame-63">
                    <div class="dtc-13-frame-582">
                        <div class="dtc-13-graphic-design">
                            Exploring the Evolution of Java: From Past to Present
                        </div>
                        <div class="dtc-13-graphic-design2">
                            Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                            vulputate libero et velit interdum, ac aliquet odio mattis.
                        </div>
                        <div class="dtc-13-frame-58">
                            <div class="dtc-13-frame-43">
                                <div class="dtc-13-_125-courses3">Published</div>
                                <div class="dtc-13-line-2"></div>
                                <div class="dtc-13-_125-courses3">Jun 12, 2023</div>
                            </div>
                        </div>
                        <div class="dtc-13-frame-335">
                            <div class="dtc-13-frame-3">
                                <svg class="dtc-13-love4"
                                     width="16"
                                     height="16"
                                     viewBox="0 0 16 16"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.4401 3.07256C12.7323 2.36456 11.7939 1.93411 10.7956 1.85948C9.79726 1.78485 8.8053 2.071 8.0001 2.66589C7.15187 2.03498 6.0961 1.7489 5.04538 1.86525C3.99467 1.9816 3.02706 2.49174 2.33742 3.29295C1.64777 4.09415 1.28732 5.12691 1.32864 6.18323C1.36996 7.23956 1.80998 8.241 2.5601 8.98589L7.52677 13.9526C7.58874 14.015 7.66248 14.0646 7.74372 14.0985C7.82496 14.1323 7.91209 14.1498 8.0001 14.1498C8.08811 14.1498 8.17525 14.1323 8.25649 14.0985C8.33773 14.0646 8.41146 14.015 8.47344 13.9526L13.4401 8.98589C13.8285 8.59771 14.1367 8.13679 14.3469 7.62947C14.5571 7.12215 14.6654 6.57838 14.6654 6.02922C14.6654 5.48007 14.5571 4.9363 14.3469 4.42898C14.1367 3.92166 13.8285 3.46074 13.4401 3.07256ZM12.5001 8.04589L8.0001 12.5392L3.5001 8.04589C3.10355 7.64769 2.83342 7.14126 2.72359 6.59012C2.61376 6.03898 2.66912 5.46768 2.88274 4.94789C3.09635 4.42809 3.4587 3.98295 3.92433 3.66831C4.38997 3.35366 4.93814 3.18352 5.5001 3.17922C6.25084 3.18106 6.97017 3.48078 7.5001 4.01256C7.56208 4.07504 7.63581 4.12464 7.71705 4.15849C7.79829 4.19233 7.88543 4.20976 7.97344 4.20976C8.06144 4.20976 8.14858 4.19233 8.22982 4.15849C8.31106 4.12464 8.38479 4.07504 8.44677 4.01256C8.99232 3.53981 9.6971 3.29199 10.4185 3.31924C11.1398 3.34649 11.8239 3.64679 12.3322 4.15935C12.8405 4.67191 13.1352 5.35845 13.1564 6.08002C13.1777 6.80159 12.924 7.50428 12.4468 8.04589H12.5001Z"
                                          fill="#98A2B3" />
                                </svg>



                                <div class="dtc-13-VV_24-likes">24 likes</div>
                            </div>
                            <div class="dtc-13-frame-2">
                                <svg class="dtc-13-VVcomment4"
                                     width="16"
                                     height="16"
                                     viewBox="0 0 16 16"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_37_11752)">
                                        <path d="M8 3.42801C6.78571 3.42801 5.6503 3.63486 4.59375 4.04855C3.5372 4.46224 2.69792 5.02028 2.07589 5.72266C1.45387 6.42504 1.14286 7.18397 1.14286 7.99944C1.14286 8.66611 1.35565 9.30153 1.78125 9.90569C2.20685 10.5099 2.80655 11.0322 3.58036 11.4727L4.35714 11.9191L4.11607 12.7762C3.97321 13.3179 3.76488 13.8298 3.49107 14.3119C4.39583 13.9369 5.21429 13.428 5.94643 12.7852L6.33036 12.4459L6.83929 12.4994C7.25 12.5471 7.63691 12.5709 8 12.5709C9.21429 12.5709 10.3497 12.364 11.4063 11.9503C12.4628 11.5366 13.3021 10.9786 13.9241 10.2762C14.5461 9.57385 14.8571 8.81492 14.8571 7.99944C14.8571 7.18397 14.5461 6.42504 13.9241 5.72266C13.3021 5.02028 12.4628 4.46224 11.4063 4.04855C10.3497 3.63486 9.21429 3.42801 8 3.42801ZM16 7.99944C16 9.03516 15.6429 9.992 14.9286 10.87C14.2143 11.748 13.244 12.4414 12.0179 12.9503C10.7917 13.4593 9.45238 13.7137 8 13.7137C7.58333 13.7137 7.15179 13.6899 6.70536 13.6423C5.52679 14.684 4.15774 15.4042 2.59821 15.803C2.30655 15.8863 1.96726 15.9518 1.58036 15.9994H1.53571C1.44643 15.9994 1.36607 15.9682 1.29464 15.9057C1.22321 15.8432 1.1756 15.7613 1.15179 15.6602V15.6512C1.13393 15.6274 1.13244 15.5917 1.14732 15.5441C1.1622 15.4965 1.16815 15.4667 1.16518 15.4548C1.1622 15.4429 1.1756 15.4146 1.20536 15.37L1.25893 15.2896L1.32143 15.2137L1.39286 15.1334C1.43452 15.0858 1.52679 14.9831 1.66964 14.8253C1.8125 14.6676 1.91518 14.5545 1.97768 14.486C2.04018 14.4176 2.13244 14.3 2.25446 14.1334C2.37649 13.9667 2.47321 13.8149 2.54464 13.678C2.61607 13.5411 2.69643 13.3655 2.78571 13.1512C2.875 12.9369 2.95238 12.7108 3.01786 12.4727C2.08333 11.9429 1.34673 11.2881 0.808036 10.5084C0.269345 9.72861 0 8.8923 0 7.99944C0 6.96373 0.357143 6.00688 1.07143 5.12891C1.78571 4.25093 2.75595 3.55748 3.98214 3.04855C5.20833 2.53962 6.54762 2.28516 8 2.28516C9.45238 2.28516 10.7917 2.53962 12.0179 3.04855C13.244 3.55748 14.2143 4.25093 14.9286 5.12891C15.6429 6.00688 16 6.96373 16 7.99944Z"
                                              fill="#98A2B3" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_37_11752">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>



                                <div class="dtc-13-V_5-comments">5 comments</div>
                            </div>
                            <div class="dtc-13-Vframe-4">
                                <svg class="dtc-13-Vreport3"
                                     width="16"
                                     height="16"
                                     viewBox="0 0 16 16"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_37_11756)">
                                        <path d="M10.4867 2H5.51333L2 5.51333V10.4867L5.51333 14H10.4867L14 10.4867V5.51333L10.4867 2ZM12.6667 9.93333L9.93333 12.6667H6.06667L3.33333 9.93333V6.06667L6.06667 3.33333H9.93333L12.6667 6.06667V9.93333Z"
                                              fill="#98A2B3" />
                                        <path d="M7.99992 11.3333C8.36811 11.3333 8.66659 11.0349 8.66659 10.6667C8.66659 10.2985 8.36811 10 7.99992 10C7.63173 10 7.33325 10.2985 7.33325 10.6667C7.33325 11.0349 7.63173 11.3333 7.99992 11.3333Z"
                                              fill="#98A2B3" />
                                        <path d="M7.33325 4.66602H8.66659V9.33268H7.33325V4.66602Z"
                                              fill="#98A2B3" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_37_11756">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>



                                <div class="dtc-13-_0-report">0 report</div>
                            </div>
                        </div>
                    </div>
                    <img class="dtc-13-frame-59" src="~/images/fourth photo.png" />
                </div>
            </div>
            <div class="dtc-13-line-6"></div>
        </div>
        <div class="dtc-13-frame-38813473">
            <svg class="dtc-13-arrow-narrow-left"
                 width="32"
                 height="32"
                 viewBox="0 0 32 32"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M5.33325 15.9993H26.6666M5.33325 15.9993L10.6666 10.666M5.33325 15.9993L10.6666 21.3327"
                      stroke="#131A29"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>

            <div class="dtc-13-go-back">Go back</div>
        </div>
        <div class="dtc-13-frame-79">
            <div class="dtc-13-author">Author</div>
            <div class="dtc-13-frame-57">
                <img class="dtc-13-ellipse-1" src="~/images/Ellipse dp.png" />
                <div class="dtc-13-frame-56">
                    <div class="dtc-13-frame-55">
                        <div class="dtc-13-samantha">Ayomide Akin</div>
                    </div>
                    <div class="dtc-13-ngopi-sore">UIUX Design Intern</div>
                </div>
            </div>
            <div class="dtc-13-frame-38813469">
                <div class="dtc-13-right-nest">
                    <div class="dtc-13-header-cta-block">
                        <div class="dtc-13-button-default">
                            <div class="dtc-13-text">Remove</div>
                        </div>
                    </div>
                </div>
                <div class="dtc-13-button-default2">
                    <div class="dtc-13-text2">Ignore</div>
                </div>
            </div>
        </div>



    </div>
</div>
