@model AddCommentVM;


<div>
    <p class="border-b border-slate-600 text-lg font-medium">Leave a comment</p>
    <form class="my-2">
        <div class="mb-2">
            <label class="mb-2 block text-sm text-gray-900">Type Comment</label>
            <textarea class="input" placeholder="Write Here" name="comment" rows="10"></textarea>
        </div>
        <div class="mb-2">
            <label class="mb-2 block text-sm text-gray-900">Name</label>
            <input class="input" placeholder="Name" name="name" />
        </div>
        <div class="mt-3">
            <button class="button">Post Comment</button>
        </div>
    </form>
</div>