@model AuthorListViewModel;

<style>
    .dtc99{
        display: flex;
        flex-direction: row;
        font-family: 'Inter';
        width: 100%;
        margin: 10px;
        padding: 10px 10px 0px 10px;
        gap: 31px;
    }

    .dtc99__name{
        display: flex;
        justify-content: space-between;
        gap: 12rem;
    }

    .dtc99--profession{
        margin-top: -3px;
    }

    .dtc99--ash{
        color: #475467;
    }

    .dtc99__img{
        width: 61px;
    }

</style>

<div class="dtc99">
    <div class="dtc99__author-img-box">
        <img class="dtc99__img" src="@Model.Image" alt="Ayomide">
    </div>
    <div class="dtc99__details">
        <div class="dtc99__name">
            <h3 class="dtc99--h3">@Model.Name</h3>
            <p class="dtc99--ash"><span class="dtc99--num-of-article dtc99--ash">@Model.NumberOfArticles</span> articles</p>
        </div>
        <p class="dtc99--profession dtc99--ash">
            @Model.Designation
        </p>
    </div>
</div>
