@model DevsTutorialCenterMVC.Models.Components.TagComponentViewModel

<link rel="stylesheet" href="~/css/tag_component.css" asp-append-version="true" />

<div class="tag-component">
   @Model.Name
</div>