@{
    ViewData["Title"] = "Home Page";
}
<partial name="_LandingPageNavPartial" />

<div class="main-frame">
    <div class="frame-1">
       

    </div>
    <div class="frame-2">
        <div class="frame-265">
            <div class="rectangle-18"></div>
            <img class="rectangle-1" src="~/images/Rectangle 1.png" />
            <div class="frame-309">
                <div class="text-banner">
                    Join the Decadevs gist <br />space with the latest articles in tech world
                </div>
                <div class="frame-308">
                    <div class="frame-8">
                        <div class="button-defaultt">
                            <div class="text2">Get Started</div>
                        </div>
                    </div>
                    <div class="frame-9">
                        <div class="button-default2">
                            <div class="text3">See Stories</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="frame-3">
       
        <div class="title-frame">
            <div class="text-stack">Tips and recommendations on Tech Stacks</div>
            <div class="text-small">Read Articles by different Decadevs just like you.</div>
        </div>

       <div class="card-frames">
            <div class="card-1">
                <img class="img-frame" src="~/images/Frame 46.png" />

                <div class="story-desc-div">
                    <div class="frame-55">
                        <div class="frame-43">
                            <div class="frame-74">
                                <div class="_125-courses">JAVA</div>
                            </div>
                            <div class="line-2"></div>
                            <div class="_125-courses2">5 mins read</div>
                        </div>
                    </div>
                    <div class="graphic-design">
                        Exploring the Evolution of Java: From Past to Present
                    </div>
                    <div class="graphic">
                        Dorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero
                        et velit interdum, ac aliquet odio mattis.
                    </div>
                    <hr class="line" />
                    <div class="group1170">
                        <img src="~/images/Ellipse 1.png" />
                        <h5>Ayomide Akin</h5>
                        <h4>2 days ago</h4>
                    </div>
                </div>
            </div>
            <div class="card-2">
                <img class="img-frame" src="~/images/Frame 46.png" />


                <div class="story-desc-div"> 
                    <div class="frame-55">
                        <div class="frame-43">
                            <div class="frame-74">
                                <div class="_125-courses">JAVA</div>
                            </div>
                            <div class="line-2"></div>
                            <div class="_125-courses2">5 mins read</div>
                        </div>
                    </div>
                    <div class="graphic-design">
                        Exploring the Evolution of Java: From Past to Present
                    </div>
                    <div class="graphic">
                        Dorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero
                        et velit interdum, ac aliquet odio mattis.
                    </div>
                    <hr class="line" />
                    <div class="group1170">
                        <img src="~/images/Ellipse 1.png" />
                        <h5>Ayomide Akin</h5>
                        <h4>2 days ago</h4>
                    </div>
                </div>
            </div>
            <div class="card-3">
                <img class="img-frame" src="~/images/Frame 46.png" />

                <div class="story-desc-div">
                    <div class="frame-55">
                        <div class="frame-43">
                            <div class="frame-74">
                                <div class="_125-courses">JAVA</div>
                            </div>
                            <div class="line-2"></div>
                            <div class="_125-courses2">5 mins read</div>
                        </div>
                    </div>
                    <div class="graphic-design">
                        Exploring the Evolution of Java: From Past to Present
                    </div>
                    <div class="graphic">
                        Dorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero
                        et velit interdum, ac aliquet odio mattis.
                    </div>
                    <hr class="line"/>
                    <div class="group1170">
                        <img src="~/images/Ellipse 1.png"/>
                        <h5>Ayomide Akin</h5>
                        <h4>2 days ago</h4>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <div class="button">
        <button class="explore-button">Explore</button>
    </div>
    <div class="frame-4">
            <div class="frame-181">
            <img class="frame-181" src="~/images/Blogger.png" />


                <div class="devs-tutorial-center">Devs Tutorial Center</div>
            </div>
            <div class="developer-dream-text">
                Devs Tutorial Center is platform for budding software developers at Decagon
                to explore technical writing and leverage the community to ask insightful
                questions and get answers - to connect and to help one another achieve the
                world-class developer dream
            </div>
    </div>
    <div class="frame-5">
        <div class="frame-247">
            <div class="divider"></div>
            <div class="copyright-2023-all-rights-reserved-privacy-terms">
                Copyright ©2023. All rights reserved. Privacy &amp; Terms.
            </div>
        </div>

    </div>
</div>