@{
    ViewData["Title"] = "Home Page";
}
<partial name="_LandingPageNavPartial"/>



<div class="landing-page">
    <div class="main-frame">
        @* <div class="frame-1"> *@
        <partial name="_BlogPostPopularItem" />

    </div>
    <div class="frame-2">
        <div class="frame-265">
            <div class="frame-309">
                <div class="text-banner">
                    Join the Decadevs gist <br/>space with the latest articles in tech world
                </div>
                <div class="frame-308">
                    <div class="frame-8">
                        <div class="button-defaultt">
                            <div class="text-get">Get Started</div>
                        </div>
                    </div>
                    <div class="frame-9">
                        <div class="button-default2">
                            <div class="text3">See Stories</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="frame-3">

            <div class="title-frame">
                <div class="text-stack">Tips and recommendations on Tech Stacks</div>
                <div class="text-small">Read Articles by different Decadevs just like you.</div>
            </div>

            <div class="recent-blog-post">RECENT BLOG POSTS</div>
            <div class="card-frames">
                @for (var i = 0; i < 3; i++)
                {
                    <partial name="_BlogPostItemPartial"/>
                }
            </div>
        </div>
        <div class="button">
            <button class="explore-button">Explore</button>
        </div>
    </div>
    <div class="frame-4">
        <div class="frame-181">
            <img class="frame-181" src="~/images/Blogger.png"/>


            <div class="devs-tutorial-center">Devs Tutorial Center</div>
        </div>
        <div class="developer-dream-text">
            Devs Tutorial Center is platform for budding software developers at Decagon
            to explore technical writing and leverage the community to ask insightful
            questions and get answers - to connect and to help one another achieve the
            world-class developer dream
        </div>
    </div>
    <div class="divider"></div>
    <div class="frame-5">
        <div class="frame-247">
            <div class="copyright-2023-all-rights-reserved-privacy-terms">
                Copyright ©2023. All rights reserved. Privacy & Terms.
            </div>
        </div>

    </div>
</div>