<nav class="navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">

    <partial name="_BlogPostNavPartial" />
</nav>




    <div class="open-article-covenant ">
        <div class="frame-70-covenant ">
            <img class="frame-63-covenant" src="~/images//Frame 63.png" />
            <div class="frame-68-covenant ">
                <div class="frame-67-covenant ">
                    
                    <div class="group-1173-covenant ">
                        <div class="ellipse-3-covenant "></div>
                        <svg class="love-covenant"
                             width="25"
                             height="23"
                             viewBox="0 0 25 23"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.0934 22.2801C11.9618 22.2808 11.8313 22.2556 11.7095 22.2058C11.5877 22.1561 11.4768 22.0827 11.3834 21.9901L2.19341 12.8001C1.14584 11.7512 0.432597 10.4154 0.143753 8.96142C-0.14509 7.50743 0.00342333 6.00045 0.570537 4.63082C1.13765 3.26119 2.09793 2.09033 3.33008 1.26613C4.56224 0.441932 6.01101 0.00135903 7.49341 5.51584e-05C9.15927 -0.00635719 10.7791 0.546493 12.0934 1.57005C13.5378 0.454463 15.3386 -0.0977748 17.1601 0.0162986C18.9816 0.130372 20.6995 0.902971 21.9934 2.19006C23.3961 3.5993 24.1835 5.50672 24.1835 7.49505C24.1835 9.48339 23.3961 11.3908 21.9934 12.8001L12.8034 21.9901C12.71 22.0827 12.5992 22.1561 12.4773 22.2058C12.3555 22.2556 12.225 22.2808 12.0934 22.2801ZM7.49341 2.00006C6.77072 1.99762 6.05475 2.13868 5.38699 2.41505C4.71924 2.69142 4.11299 3.09761 3.60341 3.61006C2.57627 4.64416 1.99982 6.04253 1.99982 7.50005C1.99982 8.95758 2.57627 10.3559 3.60341 11.3901L12.0934 19.8701L20.5834 11.3901C21.6105 10.3559 22.187 8.95758 22.187 7.50005C22.187 6.04253 21.6105 4.64416 20.5834 3.61006C20.0727 3.09906 19.4662 2.6937 18.7988 2.41714C18.1313 2.14058 17.4159 1.99823 16.6934 1.99823C15.9709 1.99823 15.2555 2.14058 14.5881 2.41714C13.9206 2.6937 13.3142 3.09906 12.8034 3.61006C12.7104 3.70378 12.5998 3.77818 12.478 3.82895C12.3561 3.87971 12.2254 3.90585 12.0934 3.90585C11.9614 3.90585 11.8307 3.87971 11.7088 3.82895C11.587 3.77818 11.4764 3.70378 11.3834 3.61006C10.8738 3.09761 10.2676 2.69142 9.59982 2.41505C8.93207 2.13868 8.21609 1.99762 7.49341 2.00006Z"
                                  fill="black" />
                        </svg>

                    </div>
                    <div class="group-1171-covenant ">
                        <div class="ellipse-32-covenant "> </div>
                        <svg class="save-covenant"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 2H6C5.73478 2 5.48043 2.10536 5.29289 2.29289C5.10536 2.48043 5 2.73478 5 3V21C4.99999 21.1912 5.05477 21.3783 5.15785 21.5393C5.26094 21.7003 5.40801 21.8284 5.58164 21.9083C5.75527 21.9883 5.94819 22.0169 6.13754 21.9906C6.32688 21.9643 6.50473 21.8843 6.65 21.76L12 17.27L17.29 21.71C17.3834 21.8027 17.4943 21.876 17.6161 21.9258C17.7379 21.9755 17.8684 22.0008 18 22C18.1312 22.0034 18.2613 21.976 18.38 21.92C18.5626 21.845 18.7189 21.7176 18.8293 21.5539C18.9396 21.3901 18.999 21.1974 19 21V3C19 2.73478 18.8946 2.48043 18.7071 2.29289C18.5196 2.10536 18.2652 2 18 2ZM17 18.86L12.64 15.2C12.4603 15.0503 12.2339 14.9684 12 14.9684C11.7661 14.9684 11.5397 15.0503 11.36 15.2L7 18.86V4H17V18.86Z"
                                  fill="black" />
                        </svg>

                    </div>
                    <div class="group-1172-covenant">
                        <div class="ellipse-33-covenant "></div>
                        <svg class="share-covenant" F
                             width="24"
                             height="24" F
                             viewBox="0 0 24 24"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.707 11.2928L13.707 3.29279C13.5671 3.15298 13.389 3.05777 13.195 3.0192C13.0011 2.98064 12.8 3.00044 12.6173 3.07611C12.4346 3.15178 12.2785 3.27992 12.1686 3.44433C12.0587 3.60874 12 3.80204 12 3.99979V7.54479C9.26829 7.79758 6.72923 9.06065 4.87969 11.0868C3.03015 13.113 2.00327 15.7564 2 18.4998V19.9998C2.00016 20.2074 2.06491 20.4098 2.18527 20.5789C2.30564 20.748 2.47565 20.8755 2.67173 20.9436C2.8678 21.0118 3.08022 21.0172 3.27953 20.9592C3.47883 20.9011 3.65514 20.7825 3.784 20.6198C4.7637 19.4547 5.96576 18.4966 7.31994 17.8014C8.67413 17.1062 10.1533 16.6878 11.671 16.5708C11.721 16.5648 11.846 16.5548 12 16.5448V19.9998C12 20.1975 12.0587 20.3908 12.1686 20.5552C12.2785 20.7197 12.4346 20.8478 12.6173 20.9235C12.8 20.9991 13.0011 21.0189 13.195 20.9804C13.389 20.9418 13.5671 20.8466 13.707 20.7068L21.707 12.7068C21.8945 12.5193 21.9998 12.265 21.9998 11.9998C21.9998 11.7346 21.8945 11.4803 21.707 11.2928ZM14 17.5858V15.4998C14 15.2346 13.8946 14.9802 13.7071 14.7927C13.5196 14.6051 13.2652 14.4998 13 14.4998C12.745 14.4998 11.704 14.5498 11.438 14.5848C8.74286 14.8331 6.17742 15.8571 4.052 17.5328C4.29324 15.3272 5.33954 13.2881 6.99055 11.8059C8.64157 10.3238 10.7813 9.50263 13 9.49979C13.2652 9.49979 13.5196 9.39443 13.7071 9.20689C13.8946 9.01936 14 8.765 14 8.49979V6.41379L19.586 11.9998L14 17.5858Z"
                                  fill="black" />
                        </svg>
                    </div>
                    <div class="group-1175-covenant ">
                        <div class="ellipse-34-covenant "></div>
                        <svg class="report-covenant"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_37_11144)">
                                <path d="M15.73 3H8.27L3 8.27V15.73L8.27 21H15.73L21 15.73V8.27L15.73 3ZM19 14.9L14.9 19H9.1L5 14.9V9.1L9.1 5H14.9L19 9.1V14.9Z"
                                      fill="black" />
                                <path d="M12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17Z"
                                      fill="black" />
                                <path d="M11 7H13V14H11V7Z" fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_37_11144">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                </div>
                <div class="frame-64-covenant">
                    <div class="frame-54-covenant ">
                        <div class="frame-43-covenant ">
                            <div class="frame-73-covenant ">
                                <div class="_125-courses-covenant ">JAVA</div>
                            </div>
                            <div class="line-2-covenant "></div>
                            <div class="_125-courses2-covenant ">June 12,2023</div>
                        </div>
                    </div>
                    <div class="graphic-design-covenant ">
                        Exploring the Evolution of Java: From Past to Present
                    </div>
                    <div class="graphic-design2-covenant ">
                        <span>
                            <span class="graphic-design-2-span-covenant ">R</span><span class="graphic-design-2-span2-covenant ">
                                orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                                vulputate libero et velit interdum, ac aliquet odio mattis. Class
                                aptent taciti sociosqu ad litora torquent per conubia nostra, per
                                inceptos himenaeos. Curabitur tempus urna at turpis condimentum
                                lobortis. Ut commodo efficitur neque. Ut diam quam, semper iaculis
                                condimentum ac, vestibulum eu nisl.
                            </span>
                        </span>
                    </div>
                    <img class="frame-65-covenant" src="~/images//Frame 65.png" />
                    <div class="graphic-design3-covenant ">
                        Consectetur adipiscing elit. Nunc vulputate libero et velit interdum,
                        ac aliquet odio mattis. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus
                        urna at turpis condimentum lobortis. Ut commodo efficitur neque. Ut
                        diam quam, semper iaculis condimentum ac, vestibulum eu nisl.
                    </div>
                    <img class="frame-66-covenant" src="~/images//Frame 66.png" />
                    <div class="graphic-design4-covenant ">
                        Sorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
                        turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
                        fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
                        elit sed risus. Maecenas eget condimentum velit, sit amet feugiat
                        lectus. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. Praesent auctor purus luctus enim
                        egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex.
                        Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum
                        lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in
                        elementum tellus.<br />
                        Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque
                        quam a convallis. Sed ut vulputate nisi. Integer in felis sed leo
                        vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu
                        vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus,
                        porttitor eu mauris a, blandit ultrices nibh. Mauris sit amet magna
                        non ligula vestibulum eleifend. Nulla varius volutpat turpis sed
                        lacinia. Nam eget mi in purus lobortis eleifend. Sed nec ante dictum
                        sem condimentum ullamcorper quis venenatis nisi. Proin vitae facilisis
                        nisi, ac posuere leo.<br />
                        Nam pulvinar blandit velit, id condimentum diam faucibus at. Aliquam
                        lacus nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque
                        mauris dolor, fringilla sed tincidunt ac, finibus non odio. Sed vitae
                        mauris nec ante pretium finibus. Donec nisl neque, pharetra ac elit
                        eu, faucibus aliquam ligula. Nullam dictum, tellus tincidunt tempor
                        laoreet, nibh elit sollicitudin felis, eget feugiat sapien diam nec
                        nisl. Aenean gravida turpis nisi, consequat dictum risus dapibus a.
                        Duis felis ante, varius in neque eu, tempor suscipit sem. Maecenas
                        ullamcorper gravida sem sit amet cursus. Etiam pulvinar purus vitae
                        justo pharetra consequat. Mauris id mi ut arcu feugiat maximus. Mauris
                        consequat tellus id tempus aliquet.
                    </div>
                </div>
            </div>
        </div>
        <div class="frame-339-covenant ">
            <div class="frame-71-covenant ">
                <div class="comments-covenant ">Comments</div>
                <div class="line-6-covenant "></div>
            </div>
            <div class="frame-223-covenant ">
                <div class="frame-222-covenant ">
                    <div class="frame-221-covenant ">
                        <div class="frame-220-covenant ">
                            <img class="avatar-default-covenant" src="~/images//iconperson.png" />
                            <div class="john-doe-covenant ">John Doe</div>
                        </div>
                        <div class="june-15-2022-covenant ">June 15, 2022</div>
                    </div>
                    <div class="there-is-no-universally-accepted-definition-of-a-mountain-elevation-volume-relief-steepness-spacing-and-continuity-have-been-used-as-criteria-for-defining-a-mountain-covenant ">
                        There is no universally accepted definition of a mountain. Elevation,
                        volume, relief, steepness, spacing and continuity have been used as
                        criteria for defining a mountain.
                    </div>
                </div>
                <div>
                    <button class="button-default-covenant text-covenant ">Reply</button>
                </div>
            </div>
        </div>
        <div class="frame-338-covenant ">
            <div class="frame-337-covenant ">
                <div class="frame-225-covenant ">
                    <div class="text2-covenant ">Leave a comment</div>
                    <div class="line-6-covenant "></div>
                </div>
                <form class="comment-form-covenant ">
                    <div class="frame-336-covenant ">
                        <div class="frame-239-covenant ">
                            <div class="frame-235-covenant ">

                                <label class="text3-covenant form-label-covenant" for="comment ">Type Comment</label>
                                <textarea class="form-input-covenant" id="comment" name="comment" rows="4" placeholder="Write here..."></textarea>


                            </div>
                        </div>
                        <div class="frame-335-covenant ">
                            <div class="frame-238-covenant ">
                                <div class="frame-236-covenant ">

                                    <div class="button-default3-covenant ">
                                        <div class="profile-covenant ">
                                            <div class="page-1-covenant ">
                                                <div class="dribbble-light-preview-covenant ">
                                                    <svg class="icons-covenant"
                                                         width="20"
                                                         height="21"
                                                         viewBox="0 0 20 21"
                                                         fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                              clip-rule="evenodd"
                                                              d="M10 13.0004C13.785 13.0004 16.958 15.2144 17.784 19.0004H2.216C3.042 15.2144 6.215 13.0004 10 13.0004ZM6 7.00042C6 4.79442 7.794 3.00042 10 3.00042C12.206 3.00042 14 4.79442 14 7.00042C14 9.20642 12.206 11.0004 10 11.0004C7.794 11.0004 6 9.20642 6 7.00042ZM13.758 11.6734C14.4582 11.1124 15.0232 10.4012 15.4113 9.59234C15.7994 8.78344 16.0006 7.89759 16 7.00042C16.0007 5.98596 15.7442 4.98794 15.2545 4.09954C14.7647 3.21113 14.0577 2.46131 13.1996 1.92034C12.3414 1.37937 11.3601 1.06488 10.3473 1.00615C9.33457 0.947433 8.32346 1.14649 7.40851 1.58465C6.49356 2.0228 5.70465 2.6858 5.11551 3.51165C4.52637 4.3375 4.15622 5.2992 4.0397 6.30694C3.92319 7.31467 4.06408 8.33548 4.44922 9.27398C4.83436 10.2125 5.45118 11.038 6.242 11.6734C2.583 13.0484 0 16.4454 0 21.0004H20C20 16.4454 17.417 13.0484 13.758 11.6734Z"
                                                              fill="#98A2B3" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>

                                        <label class="text4-covenant" for="name">Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="frame-226-covenant ">
                                <input type="checkbox" id="save-name" name="save-name">
                                <label class="save-my-name-in-this-browser-for-the-next-time-i-comment" for="save-name">Save my name in this browser for the next time I comment.</label>

                            </div>
                        </div>
                    </div><br>
                    <div>
                        <button class="button-default4-covenant text5-covenant" type="submit">Post Comment</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="frame-340-covenant ">
        <div class="frame-79-covenant ">
            
            
            <div class="author-covenant ">Author</div>
            <div class="frame-57-covenant">
                
                <img class="ellipse-1-covenant" src="~/images/iconperson.png" />
                <div class="frame-56-covenant ">
                    <div class="frame-55-covenant ">
                        <div class="samantha-covenant ">Ayomide Akin</div>
                    </div>
                    <div class="ngopi-sore-covenant ">UIUX Design Intern</div>
                </div>
            </div>
        </div>
        <div class="frame-329-covenant ">
            <div class="more-articles-from-the-author-covenant ">
                More ARTICLES from the author
            </div>
            <div class="frame-85-covenant ">
                <img class="frame-46-covenant" src="~/images//Frame 446.png" />
                <div class="frame-45-covenant ">
                    <div class="graphic-design5-covenant ">
                        Exploring the Evolution of Java: From Past to Present
                    </div>
                    <div class="graphic-design6-covenant">Vorem ipsum dolor sit amet.</div>
                    <div class="divider-covenant "></div>
                    <div class="group-1170-covenant ">
                        <div class="frame-328-covenant ">
                            <div class="ngopi-sore2-covenant ">5 min read</div>
                            <div class="ngopi-sore2-covenant ">Jun 12, 2023</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-86-covenant ">
                <img class="frame-46-covenant" src="~/images//Frame 446.png" />
                <div class="frame-45-covenant ">
                    <div class="graphic-design5-covenant ">
                        Exploring the Evolution of Java: From Past to Present
                    </div>
                    <div class="graphic-design6-covenant ">Vorem ipsum dolor sit amet.</div>
                    <div class="divider-covenant "></div>
                    <div class="group-1170-covenant ">
                        <div class="frame-328-covenant ">
                            <div class="ngopi-sore2-covenant ">5 min read</div>
                            <div class="ngopi-sore2-covenant ">Jun 12, 2023</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-87-covenant ">
                <img class="frame-46" src="~/images//Frame 446.png" />
                <div class="frame-45-covenant ">
                    <div class="graphic-design5-covenant ">
                        Exploring the Evolution of Java: From Past to Present
                    </div>
                    <div class="graphic-design6-covenant ">Vorem ipsum dolor sit amet.</div>
                    <div class="divider-covenant "></div>
                    <div class="group-1170-covenant ">
                        <div class="frame-328-covenant ">
                            <div class="ngopi-sore2-covenant ">5 min read</div>
                            <div class="ngopi-sore2-covenant ">Jun 12, 2023</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame-330-covenant ">
            <div class="more-topics-covenant ">More topics</div>
            <div class="frame-75-covenant ">
                <div class="frame-73-covenant ">
                    <div class="_125-courses-covenant ">JAVA</div>
                </div>
                <div class="frame-74-covenant ">
                    <div class="_125-courses3-covenant ">Python</div>
                </div>
                <div class="frame-752-covenant ">
                    <div class="_125-courses3-covenant ">C++</div>
                </div>
                <div class="frame-76-covenant ">
                    <div class="_125-courses3-covenant ">C#</div>
                </div>
                <div class="frame-77-covenant ">
                    <div class="_125-courses3-covenant ">Node.js</div>
                </div>
                <div class="frame-78-covenant ">
                    <div class="_125-courses3-covenant ">iOS</div>
                </div>
                <div class="frame-792-covenant ">
                    <div class="_125-courses3-covenant ">MYSQL</div>
                </div>
                <div class="frame-80-covenant ">
                    <div class="_125-courses3-covenant ">MONGODB</div>
                </div>
                <div class="frame-81-covenant ">
                    <div class="_125-courses3-covenant ">SWIFT</div>
                </div>
                <div class="frame-82-covenant ">
                    <div class="_125-courses3-covenant ">REACT</div>
                </div>
                <div class="frame-83-covenant ">
                    <div class="_125-courses3-covenant ">ANDROID</div>
                </div>
                <div class="frame-84-covenant ">
                    <div class="_125-courses3-covenant ">ANGULAR</div>
                </div>
                <div class="frame-852-covenant ">
                    <div class="_125-courses3-covenant ">PHP</div>
                </div>
                <div class="frame-862-covenant ">
                    <div class="_125-courses3-covenant ">REACT NATIVE</div>
                </div>
            </div>
        </div>
    </div>



    <div class="right-nest-covenant">
        <div class="header-cta-block-covenant">

            <mask id="path-1-inside-1_470_377" fill="white">
                <path d="M18.9037 15.75L17.5162 13.9238C17.4919 13.8913 17.4787 13.8519 17.4787 13.8113V8.65505C17.495 7.21267 16.9564 5.81918 15.9745 4.76254C14.9925 3.70591 13.6422 3.06689 12.2025 2.97755C11.4513 2.93887 10.7001 3.05349 9.9947 3.31442C9.28926 3.57535 8.64431 3.97714 8.09912 4.49531C7.55394 5.01348 7.11992 5.6372 6.82351 6.32848C6.5271 7.01976 6.37448 7.76415 6.37497 8.5163V14.0025C6.37497 14.0431 6.36181 14.0826 6.33747 14.115L5.10747 15.75C4.88741 15.9917 4.74225 16.292 4.68962 16.6146C4.637 16.9371 4.67917 17.268 4.81102 17.5671C4.94288 17.8661 5.15873 18.1205 5.43237 18.2992C5.706 18.4779 6.02565 18.5733 6.35247 18.5738H17.6475C17.9753 18.5755 18.2964 18.4817 18.5718 18.3038C18.8471 18.1259 19.0647 17.8717 19.1979 17.5722C19.3311 17.2728 19.3743 16.941 19.322 16.6174C19.2698 16.2938 19.1244 15.9924 18.9037 15.75ZM18.1537 17.1C18.1113 17.201 18.0398 17.2869 17.9483 17.3471C17.8568 17.4072 17.7494 17.4387 17.64 17.4375H6.35247C6.24478 17.4356 6.13992 17.4027 6.05037 17.3428C5.96081 17.283 5.89032 17.1987 5.84728 17.1C5.80423 17.0012 5.79043 16.8922 5.80753 16.7859C5.82463 16.6795 5.8719 16.5803 5.94372 16.5L5.98497 16.4513L7.24872 14.7863C7.41386 14.5585 7.50189 14.2839 7.49997 14.0025V8.5163C7.49997 7.93492 7.61472 7.35926 7.83766 6.82232C8.0606 6.28539 8.38733 5.79774 8.79913 5.38734C9.21092 4.97694 9.69967 4.65186 10.2374 4.43074C10.775 4.20963 11.3511 4.09682 11.9325 4.0988H12.15C13.3012 4.17462 14.3792 4.68969 15.1616 5.5376C15.9439 6.38551 16.3706 7.5015 16.3537 8.65505V13.83C16.3537 14.1169 16.4472 14.396 16.62 14.625L18.0225 16.47L18.06 16.5113C18.1354 16.591 18.1853 16.6914 18.2033 16.7996C18.2214 16.9078 18.2067 17.019 18.1612 17.1188L18.1537 17.1ZM14.22 20.0288C13.9385 20.3443 13.5936 20.5967 13.2078 20.7696C12.822 20.9424 12.404 21.0318 11.9812 21.0318C11.5585 21.0318 11.1405 20.9424 10.7546 20.7696C10.3688 20.5967 10.0239 20.3443 9.74247 20.0288C9.65245 19.9166 9.60883 19.7742 9.62058 19.6308C9.63233 19.4875 9.69855 19.3541 9.80564 19.258C9.91272 19.162 10.0525 19.1106 10.1963 19.1145C10.3401 19.1183 10.477 19.1771 10.5787 19.2788C10.7546 19.4764 10.9704 19.6346 11.2118 19.7429C11.4532 19.8513 11.7148 19.9073 11.9793 19.9073C12.2439 19.9073 12.5055 19.8513 12.7469 19.7429C12.9883 19.6346 13.2041 19.4764 13.38 19.2788C13.4817 19.1771 13.6186 19.1183 13.7624 19.1145C13.9062 19.1106 14.046 19.162 14.1531 19.258C14.2601 19.3541 14.3264 19.4875 14.3381 19.6308C14.3499 19.7742 14.3062 19.9166 14.2162 20.0288H14.22Z" />
            </mask>
            <path d="M18.9037 15.75L17.5162 13.9238C17.4919 13.8913 17.4787 13.8519 17.4787 13.8113V8.65505C17.495 7.21267 16.9564 5.81918 15.9745 4.76254C14.9925 3.70591 13.6422 3.06689 12.2025 2.97755C11.4513 2.93887 10.7001 3.05349 9.9947 3.31442C9.28926 3.57535 8.64431 3.97714 8.09912 4.49531C7.55394 5.01348 7.11992 5.6372 6.82351 6.32848C6.5271 7.01976 6.37448 7.76415 6.37497 8.5163V14.0025C6.37497 14.0431 6.36181 14.0826 6.33747 14.115L5.10747 15.75C4.88741 15.9917 4.74225 16.292 4.68962 16.6146C4.637 16.9371 4.67917 17.268 4.81102 17.5671C4.94288 17.8661 5.15873 18.1205 5.43237 18.2992C5.706 18.4779 6.02565 18.5733 6.35247 18.5738H17.6475C17.9753 18.5755 18.2964 18.4817 18.5718 18.3038C18.8471 18.1259 19.0647 17.8717 19.1979 17.5722C19.3311 17.2728 19.3743 16.941 19.322 16.6174C19.2698 16.2938 19.1244 15.9924 18.9037 15.75ZM18.1537 17.1C18.1113 17.201 18.0398 17.2869 17.9483 17.3471C17.8568 17.4072 17.7494 17.4387 17.64 17.4375H6.35247C6.24478 17.4356 6.13992 17.4027 6.05037 17.3428C5.96081 17.283 5.89032 17.1987 5.84728 17.1C5.80423 17.0012 5.79043 16.8922 5.80753 16.7859C5.82463 16.6795 5.8719 16.5803 5.94372 16.5L5.98497 16.4513L7.24872 14.7863C7.41386 14.5585 7.50189 14.2839 7.49997 14.0025V8.5163C7.49997 7.93492 7.61472 7.35926 7.83766 6.82232C8.0606 6.28539 8.38733 5.79774 8.79913 5.38734C9.21092 4.97694 9.69967 4.65186 10.2374 4.43074C10.775 4.20963 11.3511 4.09682 11.9325 4.0988H12.15C13.3012 4.17462 14.3792 4.68969 15.1616 5.5376C15.9439 6.38551 16.3706 7.5015 16.3537 8.65505V13.83C16.3537 14.1169 16.4472 14.396 16.62 14.625L18.0225 16.47L18.06 16.5113C18.1354 16.591 18.1853 16.6914 18.2033 16.7996C18.2214 16.9078 18.2067 17.019 18.1612 17.1188L18.1537 17.1ZM14.22 20.0288C13.9385 20.3443 13.5936 20.5967 13.2078 20.7696C12.822 20.9424 12.404 21.0318 11.9812 21.0318C11.5585 21.0318 11.1405 20.9424 10.7546 20.7696C10.3688 20.5967 10.0239 20.3443 9.74247 20.0288C9.65245 19.9166 9.60883 19.7742 9.62058 19.6308C9.63233 19.4875 9.69855 19.3541 9.80564 19.258C9.91272 19.162 10.0525 19.1106 10.1963 19.1145C10.3401 19.1183 10.477 19.1771 10.5787 19.2788C10.7546 19.4764 10.9704 19.6346 11.2118 19.7429C11.4532 19.8513 11.7148 19.9073 11.9793 19.9073C12.2439 19.9073 12.5055 19.8513 12.7469 19.7429C12.9883 19.6346 13.2041 19.4764 13.38 19.2788C13.4817 19.1771 13.6186 19.1183 13.7624 19.1145C13.9062 19.1106 14.046 19.162 14.1531 19.258C14.2601 19.3541 14.3264 19.4875 14.3381 19.6308C14.3499 19.7742 14.3062 19.9166 14.2162 20.0288H14.22Z"
                  fill="black" />
            <path d="M17.5162 13.9238L11.1162 18.7238L11.1311 18.7437L11.1462 18.7635L17.5162 13.9238ZM17.4787 8.65505L9.47923 8.56502L9.47872 8.61003V8.65505H17.4787ZM12.2025 2.97755L12.698 -5.00709L12.6559 -5.0097L12.6138 -5.01187L12.2025 2.97755ZM6.37497 8.5163L14.375 8.5163L14.375 8.51113L6.37497 8.5163ZM6.33747 14.115L12.7304 18.9244L12.7375 18.915L6.33747 14.115ZM5.10747 15.75L11.0222 21.1367L11.2748 20.8593L11.5004 20.5594L5.10747 15.75ZM6.35247 18.5738L6.33999 26.5738H6.35247V18.5738ZM17.6475 18.5738L17.6884 10.5739L17.6679 10.5738H17.6475V18.5738ZM18.9037 15.75L12.5337 20.5897L12.7492 20.8734L12.9891 21.1368L18.9037 15.75ZM18.1537 17.1L25.5816 14.129L18.3397 -3.97641L10.7794 13.9984L18.1537 17.1ZM17.64 17.4375L17.7215 9.43796L17.6807 9.43755H17.64V17.4375ZM6.35247 17.4375L6.20419 25.4362L6.27832 25.4375H6.35247V17.4375ZM5.94372 16.5L11.9053 21.8348L11.9792 21.7522L12.0508 21.6676L5.94372 16.5ZM5.98497 16.4513L12.0921 21.6188L12.2291 21.4569L12.3573 21.288L5.98497 16.4513ZM7.24872 14.7863L13.6211 19.623L13.6742 19.5529L13.7258 19.4818L7.24872 14.7863ZM7.49997 14.0025H-0.500029V14.0298L-0.499843 14.0571L7.49997 14.0025ZM7.49997 8.5163L15.5 8.5163V8.51625L7.49997 8.5163ZM11.9325 4.0988L11.9053 12.0988L11.9189 12.0988H11.9325V4.0988ZM12.15 4.0988L12.6758 -3.8839L12.4132 -3.9012H12.15V4.0988ZM16.3537 8.65505L8.35458 8.53775L8.35372 8.5964V8.65505H16.3537ZM16.3537 13.83L24.3537 13.8301V13.83H16.3537ZM16.62 14.625L10.2336 19.4432L10.2424 19.4548L10.2512 19.4664L16.62 14.625ZM18.0225 16.47L11.6537 21.3114L11.8664 21.5912L12.1029 21.8514L18.0225 16.47ZM18.06 16.5113L12.1404 21.8926L12.1944 21.952L12.2496 22.0103L18.06 16.5113ZM18.1612 17.1188L10.7334 20.0898L17.6822 37.4627L25.441 20.4361L18.1612 17.1188ZM14.22 20.0288L20.19 25.3541L32.0764 12.0288H14.22V20.0288ZM9.74247 20.0288L3.5027 25.0353L3.63342 25.1982L3.77247 25.3541L9.74247 20.0288ZM10.5787 19.2788L16.5547 13.9602L16.3985 13.7847L16.2323 13.6187L10.5787 19.2788ZM11.9793 19.9073V27.9073V19.9073ZM13.38 19.2788L7.72641 13.6187L7.56017 13.7847L7.40397 13.9602L13.38 19.2788ZM14.2162 20.0288L7.97645 15.0223L-2.45943 28.0288H14.2162V20.0288ZM25.2738 10.9104L23.8863 9.08413L11.1462 18.7635L12.5337 20.5897L25.2738 10.9104ZM23.9162 9.1238C24.9305 10.4762 25.4787 12.121 25.4787 13.8113H9.47872C9.47872 15.5828 10.0533 17.3065 11.1162 18.7238L23.9162 9.1238ZM25.4787 13.8113V8.65505H9.47872V13.8113H25.4787ZM25.4782 8.74507C25.5175 5.25131 24.2132 1.87596 21.8346 -0.683443L10.1143 10.2085C9.69974 9.76239 9.47237 9.17403 9.47923 8.56502L25.4782 8.74507ZM21.8346 -0.683443C19.4561 -3.24285 16.1852 -4.79069 12.698 -5.00709L11.707 10.9622C11.0991 10.9245 10.529 10.6547 10.1143 10.2085L21.8346 -0.683443ZM12.6138 -5.01187C10.7785 -5.10637 8.94307 -4.82632 7.2194 -4.18876L12.77 10.8176C12.4572 10.9333 12.1242 10.9841 11.7911 10.967L12.6138 -5.01187ZM7.2194 -4.18876C5.49573 -3.5512 3.91986 -2.56948 2.58776 -1.30338L13.6105 10.294C13.3688 10.5238 13.0828 10.7019 12.77 10.8176L7.2194 -4.18876ZM2.58776 -1.30338C1.25565 -0.0372803 0.195182 1.48671 -0.529073 3.17578L14.1761 9.48119C14.0447 9.78769 13.8522 10.0642 13.6105 10.294L2.58776 -1.30338ZM-0.529073 3.17578C-1.25333 4.86485 -1.62622 6.68366 -1.62503 8.52147L14.375 8.51113C14.3752 8.84463 14.3075 9.17468 14.1761 9.48119L-0.529073 3.17578ZM-1.62503 8.5163V14.0025H14.375V8.5163H-1.62503ZM-1.62503 14.0025C-1.62503 12.3121 -1.07675 10.6673 -0.0625291 9.31505L12.7375 18.915C13.8004 17.4978 14.375 15.7741 14.375 14.0025H-1.62503ZM-0.0554857 9.30567L-1.28549 10.9407L11.5004 20.5594L12.7304 18.9244L-0.0554857 9.30567ZM-0.807233 10.3634C-2.07056 11.7505 -2.90388 13.4747 -3.20599 15.3264L12.5852 17.9027C12.3884 19.1093 11.8454 20.2328 11.0222 21.1367L-0.807233 10.3634ZM-3.20599 15.3264C-3.50809 17.1782 -3.26598 19.0778 -2.50906 20.7945L12.1311 14.3396C12.6243 15.4583 12.7821 16.6961 12.5852 17.9027L-3.20599 15.3264ZM-2.50906 20.7945C-1.75214 22.5113 -0.512979 23.9713 1.0579 24.9972L9.80683 11.6011C10.8304 12.2696 11.6379 13.221 12.1311 14.3396L-2.50906 20.7945ZM1.0579 24.9972C2.62879 26.0232 4.46379 26.5709 6.33999 26.5738L6.36495 10.5738C7.5875 10.5757 8.78321 10.9326 9.80683 11.6011L1.0579 24.9972ZM6.35247 26.5738H17.6475V10.5738H6.35247V26.5738ZM17.6065 26.5737C19.4882 26.5833 21.332 26.0447 22.9127 25.0237L14.2309 11.5839C15.2608 10.9186 16.4623 10.5676 17.6884 10.5739L17.6065 26.5737ZM22.9127 25.0237C24.4933 24.0026 25.7423 22.5433 26.5072 20.8241L11.8886 14.3204C12.387 13.2001 13.2009 12.2492 14.2309 11.5839L22.9127 25.0237ZM26.5072 20.8241C27.2721 19.1048 27.5197 17.2 27.2198 15.3423L11.4243 17.8924C11.2289 16.6819 11.3902 15.4407 11.8886 14.3204L26.5072 20.8241ZM27.2198 15.3423C26.9199 13.4846 26.0854 11.7545 24.8183 10.3633L12.9891 21.1368C12.1635 20.2303 11.6197 19.1029 11.4243 17.8924L27.2198 15.3423ZM10.7794 13.9984C11.3529 12.6349 12.3194 11.473 13.5558 10.6608L22.3407 24.0333C23.7601 23.1009 24.8696 21.767 25.528 20.2017L10.7794 13.9984ZM13.5558 10.6608C14.7922 9.84856 16.2423 9.42289 17.7215 9.43796L17.5585 25.4371C19.2565 25.4544 20.9214 24.9658 22.3407 24.0333L13.5558 10.6608ZM17.64 9.43755H6.35247V25.4375H17.64V9.43755ZM6.50076 9.43892C7.92471 9.46532 9.31112 9.9 10.4952 10.6913L1.60552 23.9944C2.96873 24.9054 4.56485 25.4058 6.20419 25.4362L6.50076 9.43892ZM10.4952 10.6913C11.6793 11.4825 12.6114 12.5971 13.1806 13.9026L-1.48602 20.2973C-0.830722 21.8002 0.24231 23.0834 1.60552 23.9944L10.4952 10.6913ZM13.1806 13.9026C13.7498 15.2081 13.9322 16.6496 13.7061 18.0557L-2.09105 15.516C-2.3513 17.1348 -2.1413 18.7943 -1.48602 20.2973L13.1806 13.9026ZM13.7061 18.0557C13.48 19.4618 12.855 20.7735 11.9053 21.8348L-0.0178976 11.1653C-1.11124 12.3872 -1.8308 13.8972 -2.09105 15.516L13.7061 18.0557ZM12.0508 21.6676L12.0921 21.6188L-0.122149 11.2838L-0.163398 11.3325L12.0508 21.6676ZM12.3573 21.288L13.6211 19.623L0.876382 9.94964L-0.387368 11.6146L12.3573 21.288ZM13.7258 19.4818C14.8918 17.8734 15.5133 15.9345 15.4998 13.948L-0.499843 14.0571C-0.50955 12.6333 -0.0640621 11.2436 0.771634 10.0908L13.7258 19.4818ZM15.5 14.0025V8.5163H-0.500029V14.0025H15.5ZM15.5 8.51625C15.5 8.98774 15.4069 9.45459 15.2261 9.89003L0.449214 3.75461C-0.177458 5.26393 -0.500039 6.8821 -0.500029 8.51634L15.5 8.51625ZM15.2261 9.89003C15.0453 10.3255 14.7803 10.7209 14.4464 11.0538L3.15187 -0.279096C1.99432 0.874529 1.07589 2.2453 0.449214 3.75461L15.2261 9.89003ZM14.4464 11.0538C14.1124 11.3866 13.7161 11.6502 13.28 11.8295L7.19471 -2.96806C5.68328 -2.34651 4.30941 -1.43272 3.15187 -0.279096L14.4464 11.0538ZM13.28 11.8295C12.8439 12.0089 12.3768 12.1004 11.9053 12.0988L11.9596 -3.90116C10.3254 -3.90671 8.70615 -3.58961 7.19471 -2.96806L13.28 11.8295ZM11.9325 12.0988H12.15V-3.9012H11.9325V12.0988ZM11.6242 12.0815C10.7288 12.0225 9.89029 11.6219 9.28182 10.9624L21.0413 0.112765C18.8682 -2.24254 15.8735 -3.67328 12.6758 -3.8839L11.6242 12.0815ZM9.28182 10.9624C8.67336 10.3029 8.34142 9.43496 8.35458 8.53775L24.3529 8.77235C24.3998 5.56803 23.2144 2.46807 21.0413 0.112765L9.28182 10.9624ZM8.35372 8.65505V13.83H24.3537V8.65505H8.35372ZM8.35372 13.83C8.35371 15.8556 9.01363 17.8261 10.2336 19.4432L23.0063 9.80692C23.8807 10.9659 24.3537 12.3783 24.3537 13.8301L8.35372 13.83ZM10.2512 19.4664L11.6537 21.3114L24.3913 11.6287L22.9888 9.78372L10.2512 19.4664ZM12.1029 21.8514L12.1404 21.8926L23.9795 11.13L23.942 11.0887L12.1029 21.8514ZM12.2496 22.0103C11.2305 20.9335 10.5559 19.5771 10.3122 18.1148L26.0945 15.4844C25.8147 13.8056 25.0403 12.2485 23.8704 11.0123L12.2496 22.0103ZM10.3122 18.1148C10.0685 16.6524 10.2667 15.1506 10.8814 13.8015L25.441 20.4361C26.1468 18.8873 26.3743 17.1632 26.0945 15.4844L10.3122 18.1148ZM25.5891 14.1478L25.5816 14.129L10.7259 20.0711L10.7334 20.0898L25.5891 14.1478ZM8.24997 14.7035C8.719 14.1777 9.29388 13.7569 9.93692 13.4688L16.4787 28.0704C17.8934 27.4366 19.1581 26.5109 20.19 25.3541L8.24997 14.7035ZM9.93692 13.4688C10.5799 13.1807 11.2766 13.0318 11.9812 13.0318V29.0318C13.5314 29.0318 15.064 28.7042 16.4787 28.0704L9.93692 13.4688ZM11.9812 13.0318C12.6858 13.0318 13.3825 13.1807 14.0255 13.4688L7.48375 28.0704C8.89842 28.7042 10.4311 29.0318 11.9812 29.0318V13.0318ZM14.0255 13.4688C14.6686 13.7569 15.2434 14.1777 15.7125 14.7035L3.77247 25.3541C4.80435 26.5109 6.06909 27.4366 7.48375 28.0704L14.0255 13.4688ZM15.9822 15.0223C17.1725 16.5057 17.7492 18.3887 17.5939 20.2843L1.64731 18.9774C1.46847 21.1597 2.13243 23.3275 3.5027 25.0353L15.9822 15.0223ZM17.5939 20.2843C17.4385 22.1798 16.5629 23.9438 15.147 25.2137L4.46426 13.3024C2.83421 14.7643 1.82616 16.7951 1.64731 18.9774L17.5939 20.2843ZM15.147 25.2137C13.7312 26.4835 11.8826 27.1627 9.98139 27.1116L10.4112 11.1174C8.22243 11.0585 6.09428 11.8405 4.46426 13.3024L15.147 25.2137ZM9.98139 27.1116C8.08016 27.0605 6.27077 26.283 4.92515 24.9389L16.2323 13.6187C14.6831 12.0713 12.6001 11.1762 10.4112 11.1174L9.98139 27.1116ZM4.60272 24.5974C5.52916 25.6383 6.66541 26.4714 7.93677 27.0419L14.4868 12.444C15.2753 12.7978 15.9801 13.3145 16.5547 13.9602L4.60272 24.5974ZM7.93677 27.0419C9.20813 27.6123 10.5858 27.9073 11.9793 27.9073V11.9073C12.8437 11.9073 13.6982 12.0902 14.4868 12.444L7.93677 27.0419ZM11.9793 27.9073C13.3729 27.9073 14.7506 27.6123 16.0219 27.0419L9.47192 12.444C10.2605 12.0902 11.115 11.9073 11.9793 11.9073V27.9073ZM16.0219 27.0419C17.2933 26.4714 18.4295 25.6383 19.356 24.5974L7.40397 13.9602C7.9786 13.3145 8.68336 12.7978 9.47192 12.444L16.0219 27.0419ZM19.0335 24.9389C17.6879 26.283 15.8785 27.0605 13.9773 27.1116L13.5474 11.1174C11.3587 11.1762 9.27557 12.0713 7.72641 13.6187L19.0335 24.9389ZM13.9773 27.1116C12.0761 27.1627 10.2275 26.4835 8.81167 25.2137L19.4944 13.3024C17.8644 11.8405 15.7363 11.0585 13.5474 11.1174L13.9773 27.1116ZM8.81167 25.2137C7.39577 23.9438 6.52018 22.1798 6.36484 20.2843L22.3114 18.9774C22.1325 16.7952 21.1245 14.7643 19.4944 13.3024L8.81167 25.2137ZM6.36484 20.2843C6.20949 18.3887 6.78622 16.5057 7.97645 15.0223L20.456 25.0353C21.8263 23.3275 22.4902 21.1597 22.3114 18.9774L6.36484 20.2843ZM14.2162 28.0288H14.22V12.0288H14.2162V28.0288Z"
                  fill="black"
                  mask="url(#path-1-inside-1_470_377)" />


          
        </div>
    </div>


