
@model ForgotPasswordViewModel

@{
    var errMsg = ViewBag.Err;
    var succMsg = ViewBag.Msg;
}

<div class="dtc-19-forgot-password">

    <form method="post" asp-action="ForgotPassword" asp-controller="Account" style="width: 400px; length: 40px; margin: 0 auto;">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="dtc-19-frame-wrapper" style="padding: 20px;">
            <div class="dtc-19-frame">
                <div class="dtc-19-login-authentication">
                    <div class="dtc-19-div">
                        <div class="dtc-19-frame-2"><img class="dtc-19-blogger" src="~/images/blogger.svg" /></div>
                        <div class="dtc-19-text">Forgot Password?</div>
                    </div>
                    <p class="dtc-19-p">
                        Enter your email to reset password
                    </p>
                    <div style="color:red; font-size:12px;">
                        @if (!string.IsNullOrEmpty(errMsg))
                        {
                            @errMsg
                            ;
                        }
                    </div>

                    <div style="color:red; font-size:12px;">
                        @if (!string.IsNullOrEmpty(succMsg))
                        {
                            @succMsg
                            ;
                        }
                    </div>

                    <div class="dtc-19-frame-7">
                        <div class="dtc-19-frame-8">
                            <div class="dtc-19-text-3">Email Address</div>
                            <input class="dtc-19-button-default-2" placeholder="Enter your email" asp-for="Email" style="width: 100%;" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="dtc-19-frame-10" style="text-align: center; padding-top: 10px;">
                <button class="dtc-19-CTA-default" style="width: 100%;"><div class="dtc-19-text-6">Submit</div></button>
            </div>
        </div>
    </form>

</div>
