
<div class="dtc-7-login">
    <form method="post" asp-action="Login" asp-controller="Account">
        <div class="dtc-7-frame-wrapper">
            <div class="dtc-7-frame">
                <div class="dtc-7-login-authentication">
                    <div class="dtc-7-div">
                        <div class="dtc-7-frame-2"><img class="dtc-7-blogger" src="~/images/blogger.svg" /></div>
                        <div class="dtc-7-text">Welcome back</div>
                    </div>
                    <div class="dtc-7-frame-3">
                        <div class="dtc-7-frame-4">
                            <div class="dtc-7-frame-4">
                                <div class="dtc-7-button-default">
                                    <img class="dtc-7-img" src="~/images/google-1.svg" />
                                    <div class="dtc-7-text-wrapper">
                                        <a asp-action="WithAccount" asp-controller="Account">Sign in with Google</a>
                                    </div>
                                </div>
                                <div class="dtc-7-frame-5">
                                    <div class="dtc-7-divider"><img class="dtc-7-vector" src="~/images/vector-1.svg" /></div>
                                    <div class="dtc-7-text-2">OR</div>
                                    <div class="dtc-7-vector-wrapper"><img class="dtc-7-vector" src="~/images/vector-2.svg" /></div>
                                </div>
                            </div>
                            <div class="dtc-7-frame-6">
                                <div class="dtc-7-frame-7">
                                    <div class="dtc-7-frame-8">
                                        <div class="dtc-7-text-3">Email Address</div>
                                        <input class="dtc-7-button-default-2" placeholder="Enter your email" />
                                    </div>
                                    <div class="dtc-7-frame-8">
                                        <div class="dtc-7-text-3">Password</div>
                                        <input class="dtc-7-button-default-2" placeholder="****************" />
                                    </div>
                                </div>
                                <div class="dtc-7-text-5">Forgot password</div>
                            </div>
                        </div>
                        <div class="dtc-7-frame-10">
                            <button class="dtc-7-CTA-default"><div class="dtc-7-text-6">Login</div></button>
                            <p class="dtc-7-p">
                                <span class="dtc-7-span">Don’t have an account ? </span><a asp-action="SignUp" asp-controller="Account">Sign Up Here</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
