
    <div class="chi-login">
        <form method="post" asp-action="Login" asp-controller="Account">
            <div class="chi-frame-wrapper">
                <div class="chi-frame">
                <div class="chi-login-authentication">
                        <div class="div">
                        <div class="chi-frame-2"><img class="blogger" src="~/images/blogger.svg" /></div>
                            <div class="text">Welcome back</div>
                        </div>
                    <div class="chi-frame-3">
                        <div class="chi-frame-4">
                            <div class="chi-frame-4">
                                    <div class="button-default">
                                        <img class="img" src="~/images/google-1.svg" />
                                        <div class="text-wrapper">
                                            <a asp-action="WithAccount" asp-controller="Account">Sign in with Google</a>
                                        </div>
                                    </div>
                                <div class="chi-frame-5">
                                        <div class="divider"><img class="vector" src="~/images/vector-1.svg" /></div>
                                        <div class="text-2">OR</div>
                                        <div class="vector-wrapper"><img class="vector" src="~/images/vector-2.svg" /></div>
                                    </div>
                                </div>
                            <div class="chi-frame-6">
                                <div class="chi-frame-7">
                                    <div class="chi-frame-8">
                                            <div class="text-3">Email Address</div>
                                            <input class="button-default-2" placeholder="Enter your email" />
                                        </div>
                                    <div class="chi-frame-8">
                                            <div class="text-3">Password</div>
                                            <input class="button-default-2" placeholder="****************" />
                                        </div>
                                    </div>
                                    <div class="text-5">Forgot password</div>
                                </div>
                            </div>
                        <div class="chi-frame-10">
                                <button class="CTA-default"><div class="text-6">Login</div></button>
                                <p class="p">
                                    <span class="span">Don’t have an account ? </span><a asp-action="SignUp" asp-controller="Account">Sign Up Here</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
