@model ResetPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var errMsgEmail = ViewBag.ErrEmail;
    var errMsgToken = ViewBag.ErrToken;
}


<div class="dtc-20-reset-password">
    <form method="post" asp-action="ResetPassword" asp-controller="Account">
        
        <div class="dtc-20-frame-wrapper">
            <div class="dtc-20-frame">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="dtc-20-div">
                    <div class="dtc-20-frame-2"><img class="dtc-20-blogger" src="~/images/blogger.svg" /></div>
                    <div class="dtc-20-text">Reset Password?</div>
                </div>
                <div class="error-message">
                    @if (!string.IsNullOrEmpty(errMsgEmail))
                    {
                        @errMsgEmail
                    }
                    @if (!string.IsNullOrEmpty(errMsgToken))
                    {
                        @errMsgToken
                    }
                </div>
                <div class="dtc-20-input-control">
                    <span asp-validation-for="Email" style="color:red; font-size:10px;"></span>
                    <input asp-for="Email" hidden />
                </div>


                <div class="dtc-20-input-control">
                    <span asp-validation-for="Token" style="color:red; font-size:10px;"></span>
                    <input asp-for="Token" hidden />
                </div>


                <div class="dtc-20-input-control">
                    <span asp-validation-for="Password" style="color:red; font-size:10px;"></span>
                    <input type="password" asp-for="Password" placeholder="Password" />
                </div>


                <div class="dtc-20-input-control">
                    <span asp-validation-for="ConfirmPassword" style="color:red; font-size:10px;"></span>
                    <input type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword" />
                </div>


                <div class="dtc-20-frame-10" style="text-align: center; padding-top: 10px;">
                    <button class="dtc-20-btn-submit"><div class="dtc-20-text-6">Submit</div></button>
                </div>
            </div>
           
        </div>
        
    </form>
</div>