@model SignUpViewModel

<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="px-8 py-6 mx-4 mt-4 text-left bg-white rounded-2xl shadow-lg md:w-1/3 lg:w-1/3 sm:w-1/3">

        <div class="flex justify-center">
            <img class="dtc-7-blogger" src="~/images/blogger.svg"/>
        </div>
        <h3 class="text-2xl font-bold font-med text-center">Create a new account</h3>

        <div class="flex flex-col gap-4 w-full mt-5">
            <div class="flex px-4 py-3 bg-white rounded-lg border border-gray-300 justify-center items-center gap-2">
                <img src="~/images/google-1.svg" class="w-6 h-6 rounded-md">
                <div class="text-gray-400">
                    <a href="/Account/WithAccount">Sign up with Google</a>
                </div>
            </div>
            <div class="flex items-center gap-4">
                <div class="border-b border-gray-300 w-1/2"></div>
                <div class="text-gray-400">OR</div>
                <div class="border-b border-gray-300 w-1/2"></div>
            </div>
        </div>

        <form method="post" asp-action="SignUp" asp-controller="Account">
            <input asp-for="Token" hidden/>

            <div class="mt-4">
                <div>
                    <label class="label" for="FirstName">First Name</label>
                    <input asp-for="FirstName" type="text" placeholder="Enter your full names" class="input">
                    <span asp-validation-for="FirstName" class="text-red-500 text-xs"></span>
                </div>

                <div class="mt-4">
                    <label class="label" for="LastName">Last Name</label>
                    <input asp-for="LastName" type="text" placeholder="Enter your full names" class="input">
                    <span asp-validation-for="LastName" class="text-red-500 text-xs"></span>
                </div>

                <div class="mt-4 mb-4">
                    <label class="label" for="Email">Email Address</label>
                    <input asp-for="Email" type="text" placeholder="Enter your email" class="input">
                    <span asp-validation-for="Email" class="text-red-500 text-xs"></span>
                </div>

                <div class="mb-4">
                    <label asp-for="SquadNumber" class="label">Squad Number</label>
                    <select asp-for="SquadNumber" class="input">
                        <option value="12">Squad 12</option>
                        <option value="16">Squad 16</option>
                        <option value="18">Squad 18</option>
                    </select>
                    <span asp-validation-for="SquadNumber" class="text-red-500 text-xs"></span>
                </div>

                <div class="mb-4">
                    <label asp-for="Stack" class="label">Stack</label>
                    <select asp-for="Stack" class="input">
                        <option value="DotNet">DotNet</option>
                        <option value="Java">Java</option>
                        <option value="Node">Node</option>
                    </select>
                    <span asp-validation-for="Stack" class="text-red-500 text-xs"></span>
                </div>

                <div class="mt-4">
                    <label class="label">Password</label>
                    <div class="relative">
                        <input asp-for="Password" type="password" placeholder="************" class="input" id="password">
                        <span asp-validation-for="Password" class="text-red-500 text-xs"></span>
                        <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 cursor-pointer" id="togglePassword">
                            <i class="fas fa-eye text-sm"></i>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <label class="label">Confirm Password</label>
                    <div class="relative">
                        <input asp-for="ConfirmPassword" type="password" placeholder="************" class="input" id="confirmPassword">
                        <span asp-validation-for="ConfirmPassword" class="text-red-500 text-xs"></span>
                        <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-400 cursor-pointer" id="toggleConfirmPassword">
                            <i class="fas fa-eye text-sm"></i>
                        </div>
                    </div>
                </div>

                <div class="flex mt-4">
                    <button class="w-full button">Register</button>
                </div>

                <p class="text-sm my-4">
                    <span class="text-gray-400 text-sm font-normal"> Already have an account? </span>
                    <a class="text-green-500 font-semibold" asp-action="Login" asp-controller="Account">Sign In</a>
                </p>
            </div>
        </form>
    </div>
</div>

<<script>
     document.addEventListener('DOMContentLoaded', function () {
         const togglePassword = document.getElementById('togglePassword');
         const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
         const passwordInput = document.getElementById('password');
         const confirmPasswordInput = document.getElementById('confirmPassword');

         togglePassword.addEventListener('click', function () {
             const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
             passwordInput.setAttribute('type', type);
         });

         toggleConfirmPassword.addEventListener('click', function () {
             const type = confirmPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
             confirmPasswordInput.setAttribute('type', type);
         });
     });
</script>


@*
<div class="dtc-7-sign-up login-signup-body">
    <form method="post" asp-action="SignUp" asp-controller="Account">
        <input asp-for="Token" hidden/>
        <div class="dtc-7-frame-wrapper">
            <div class="dtc-7-frame">
                <div class="dtc-7-div-wrapper">
                    <div class="dtc-7-div">
                        <div class="dtc-7-frame-2">
                            <div class="dtc-7-frame-3"><img class="dtc-7-blogger" src="~/images/blogger.svg" /></div>
                            <div class="dtc-7-text">Create a new account</div>
                        </div>
                        <div class="dtc-7-frame-4">
                            <div class="dtc-7-frame-5">
                                <div class="dtc-7-frame-5">
                                    <div class="dtc-7-button-default">
                                        <img class="dtc-7-img" src="~/images/google-1.svg" />
                                        <div>
                                            <a asp-action="WithAccount" asp-controller="Account">Sign Up with Google</a>
                                        </div>
                                    </div>
                                    <div class="dtc-7-frame-6">
                                        <div class="dtc-7-divider"><img class="dtc-7-vector" src="~/images/vector-2.svg" /></div>
                                        <div class="dtc-7-text-2">OR</div>
                                        <div class="dtc-7-vector-wrapper"><img class="dtc-7-vector" src="~/images/vector-1.svg" /></div>
                                    </div>
                                </div>
                                <div class="dtc-7-frame-7">
                                    <div class="dtc-7-frame-8">
                                        <div class="dtc-7-frame-9">
                                            <div class="dtc-7-text-3">First Name</div>
                                            <input class="dtc-7-button-default-2" asp-for="FirstName" placeholder="Enter your First Name" />
                                            <span asp-validation-for="FirstName" class="text-danger small text-small"></span>
                                        </div>
                                        <div class="dtc-7-frame-9">
                                            <div class="dtc-7-text-3">Last Name</div>
                                            <input class="dtc-7-button-default-2" asp-for="LastName" placeholder="Enter your Last Name" />
                                            <span asp-validation-for="LastName" class="text-danger small text-small"></span>
                                        </div>
                                        <div class="dtc-7-frame-9">
                                            <div class="dtc-7-text-3">Email Address</div>
                                            <input class="dtc-7-button-default-2" asp-for="Email" placeholder="Enter your email" />
                                            <span asp-validation-for="Email" class="text-danger small text-small"></span>
                                        </div>
                                        <div class="dtc-7-frame-9">
                                            <div class="dtc-7-text-3">Squad Number</div>
                                            <select class="dtc-7-button-default-2" asp-for="Stack" id="stack" name="stack">
                                                <option selected disabled>Select your Stack</option>
                                                <option value="DotNet">DotNet</option>
                                                <option value="Java">Java</option>
                                                <option value="Node">Node</option>
                                            </select>
                                            <span asp-validation-for="Stack" class="text-danger small text-small"></span>
                                        </div>
                                        <div class="dtc-7-frame-9">
                                            <div class="dtc-7-text-3">Stack</div>
                                            <select class="dtc-7-button-default-2" asp-for="SquadNumber" id="squadNumber" name="squadNumber">
                                                <option selected disabled>Select your Squad number</option>
                                                <option value="12">Squad 12</option>
                                                <option value="16">Squad 16</option>
                                                <option value="18">Squad 18</option>
                                            </select>
                                            <span asp-validation-for="SquadNumber" class="text-danger small text-small"></span>
                                        </div>
                                        <div class="dtc-7-frame-9">
                                            <div class="dtc-7-text-3">Password</div>
                                            <input type="password" asp-for="Password" class="dtc-7-button-default-2" placeholder="****************" />
                                            <span asp-validation-for="Password" class="text-danger small text-small"></span>
                                        </div>
                                        <div class="dtc-7-frame-9">
                                            <div class="dtc-7-text-3">Confirm Password</div>
                                            <input type="password" asp-for="ConfirmPassword" class="dtc-7-button-default-2" placeholder="****************" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger small text-small"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dtc-7-frame-12">
                                <button class="dtc-7-CTA-default">
                                    <div class="dtc-7-text-6">Register</div>
                                </button>
                                <p class="dtc-7-p">
                                    <span class="dtc-7-span">Already have an account ? </span>
                                    <a asp-action="Login" asp-controller="Account">Sign In Here</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>*@