<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - DevsTutorialCenterMVC</title>*@
    <link rel="stylesheet" href="~/css/Login_SignUp/style.css.css" asp-append-version="true" />
</head>
<body>
    <div class="choose-account-modal">
        <div class="frame">
            <div class="text">Choose an account</div>
            <p class="div">
                <span class="text-wrapper">to continue to </span> <span class="span">Devstrainingcenter.com</span>
            </p>
        </div>
        <div class="frame-2">
            <div class="button-default">
                <div class="frame-3">
                    <img src="~/images/avatar-default.png" />
                    <div class="avatar-default"></div>
                    <div class="text-2">Mary Omole<br />maryomole23@gmail.com</div>
                </div>
            </div>
            <div class="button-default">
                <div class="frame-3">
                    <img src="~/images/avatar-default.png" />
                    <div class="avatar-default-2"></div>
                    <div class="text-2">John Doe<br />johndoe@gmail.com</div>
                </div>
            </div>
            <div class="button-default">
                <div class="frame-3">
                    <div class="div-wrapper"><div class="text-3"></div></div>
                    <div class="text-4">Use another account</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
