
    <div class="choose-account-modal">
        <div class="frame">
            <div class="text">Choose an account</div>
            <p class="div">
                <span class="text-wrapper">to continue to </span> <span class="span">Devstrainingcenter.com</span>
            </p>
        </div>
        <div class="frame-2">
            <div class="button-default">
                <div class="frame-3">
                    <img src="~/images/avatar-default.png" />
                    <div class="avatar-default"></div>
                    <div class="text-2">Mary Omole<br />maryomole23@gmail.com</div>
                </div>
            </div>
            <div class="button-default">
                <div class="frame-3">
                    <img src="~/images/avatar-default.png" />
                    <div class="avatar-default-2"></div>
                    <div class="text-2">John Doe<br />johndoe@gmail.com</div>
                </div>
            </div>
            <div class="button-default">
                <div class="frame-3">
                    <div class="div-wrapper"><div class="text-3"></div></div>
                    <div class="text-4">Use another account</div>
                </div>
            </div>
        </div>
    </div>

