
<div class="dtc-7-choose-account-modal">
    <div class="dtc-7-frame">
        <div class="dtc-7-text">Choose an account</div>
        <p class="dtc-7-div">
            <span class="dtc-7-text-wrapper">to continue to </span> <span class="span">Devstrainingcenter.com</span>
        </p>
    </div>
    <div class="dtc-7-frame-2">
        <div class="dtc-7-button-default">
            <div class="dtc-7-frame-3">
                <img src="~/images/avatar-default.png" />
                <div class="dtc-7-avatar-default"></div>
                <div class="dtc-7-text-2">Mary Omole<br />maryomole23@gmail.com</div>
            </div>
        </div>
        <div class="dtc-7-button-default">
            <div class="dtc-7-frame-3">
                <img src="~/images/avatar-default.png" />
                <div class="dtc-7-avatar-default-2"></div>
                <div class="dtc-7-text-2">John Doe<br />johndoe@gmail.com</div>
            </div>
        </div>
        <div class="dtc-7-button-default">
            <div class="dtc-7-frame-3">
                <div class="dtc-7-div-wrapper"><div class="dtc-7-text-3"></div></div>
                <div class="dtc-7-text-4">Use another account</div>
            </div>
        </div>
    </div>
</div>

